__pycache__/
index/*
meta.json
log.txt
search-data.db
addon-packed.zip
build.bat
.vscode/*
user_files/siac-notes.db
user_files/data.json
web/node_modules/*
src/rs/siacrs/target/*
src/rs/siacrs/siacrs_venv/*
src/rs/siacrs/Cargo.lock
rs_build.bat

