.signal {
    border: 5px solid #2496dc;
    border-radius: 30px;
    height: 30px;
    opacity: 0;
    margin-left: 24px;
    width: 30px;
 
    animation: pulsate 1.5s ease-out;
    animation-iteration-count: infinite;
}
#loader {
    position: absolute;
    top: calc(50% - 45px);
    left: calc(50% - 27px);
    width: 80px;
    font-size: 20px;
    color: #2496dc;
 }

.cardR {
  cursor: pointer;
  border: 1px solid grey; 
  padding: 5px; 
  padding-bottom: 25px; 
  padding-left: 15px; 
  background: white; 
  position: relative;
}

.cardR:hover {
     border: 1px solid  #2496dc; 
}

.score {
     background:  #2496dc;
     color: white;
     border-radius: 2px;
     padding: 0 3px 0 3px;
     margin-bottom: 5px;
      margin-right: 4px;
}
.smallMarginTop {
    margin-top: 5px;
}
.smallMarginBottom {
    margin-bottom: 4px;
}
.minorScore {
     border: 1px solid  #2496dc;
     color:  #2496dc;
     border-radius: 2px;
     padding: 0 3px 0 3px;
     margin-right: 4px;
}
.statusBar {
    float: right;
    background: #2496dc;
    color: white;
    font-size: 14px;
    padding: 0 5px 0 5px;
    margin-right: 5px;
    width: 200px;
}

.btnBar {
    display: flex;
    position: absolute;
    top: 0;
    right: 0px;
     opacity: 0;
}

.flexCol > select {
    width: 200px;
}

.btnBar:hover {
    opacity: 1;
}

.searchInfoTagLbl {
    background: #f0506e; 
    color: white; 
    padding: 2px 4px 2px 4px; 
    border-radius: 2px; 
    margin-right: 7px; 
    cursor: pointer;
    hyphens: manual;
    float: left;
    margin-bottom: 5px;
}


.tagLbl {
    background: #f0506e; 
    color: white; 
    padding: 2px 4px 2px 4px; 
    border-radius: 2px; 
    margin-left: 5px; 
    float: right; 
    cursor: pointer;
}
.rankingLbl {
    background: #2496dc; 
    color: white; 
    padding: 3px; 
    padding-left: 8px; 
    padding-right: 8px; 
    position: absolute; 
    left: 0px; 
    top: 0px; 
    z-index:9999;
}
.remLbl {
  
    border: 1px solid #2496dc;
    border-left: 0px solid white;
    background: white;
    z-index:9999;
    padding: 2px 6px 2px 6px; 
    cursor: pointer;
    flex: 1;
    font-size: 13px;
}
.srchLbl {
    background: white; 
    color:  #2496dc;
    z-index:9999;
    border: 1px solid #2496dc;
    border-right: 0px solid white;
    padding: 3px 3px 3px 3px;
    cursor: pointer;
    flex: 1;
}

.pinLbl {
    background: #2496dc; 
    color: white;
    z-index:9999;
    padding: 1px 5px 2px 5px; 
    cursor: pointer;
   flex: 1;
}
.pinLbl.unselected {
    border: 1px solid #2496dc;
    background: white;
}

.pinLbl > span {
  color: transparent;
  text-shadow: 0 0 0 rgb(255,255,255);
  font-size: 8px;
}
.rankingLbl > span {
  color: transparent;
  text-shadow: 0 0 0 rgb(255,255,255);
}


.pinLbl.unselected > span {
   color: transparent;
  text-shadow: 0 0 0 #2496dc;
  font-size: 8px;

}

#searchMask {
    flex: 1;


}
#searchBtn {
    flex:  0 0 40px;
    margin-left: 10px;
}

#hvrBox {
   position: absolute;
   background: white;
   border: 2px solid #2496dc;
   padding: 3px;
   font-size: 12px;
   width: 220px;
   z-index: 10000;
   display: none;

}

#hvrBoxSub {
   position: absolute;
   background: white;
   border: 2px solid #2496dc;
   padding: 3px;
   font-size: 12px;
   width: 220px;
   z-index: 10000;
   display: none;
}

#sConsole {
  float: right;
  padding: 5px;
}

#wiki {
    margin-top: 5px;
    font-size: 12px;
    padding: 5px;
}

.fldSep {
  color: #2496dc;
  margin: 0 5px 0 5px;
}

.darkGreen { background: #226600; color: white; padding: 0 3px 0 3px; }
.green { background: #3bb300; color: white; padding: 0 3px 0 3px; }
.lightGreen { background: #6be09e; color: white; padding: 0 3px 0 3px; }
.darkRed { background: #991f00; color: white; padding: 0 3px 0 3px; }
.red { background: #ff3300; color: white; padding: 0 3px 0 3px; }
.lightRed { background:  #ff704d; color: white; padding: 0 3px 0 3px; }


#deckSelWrapper {
    height: 140px;
    margin-bottom: 5px !important;
    width: 100%;
  
    overflow-y: auto;
}

#deckSel {
    width: 100%;
}

#deckSel tr>td {
   text-align: left;
   width: 90%;
}

.hvrLeftItem {
    width: calc(100% - 10px);
    padding: 3px 4px 3px 4px;
}

.hvrSelected {
    background: #2496dc;
    color: white;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 0px !important;
}


.flexCol {
    flex-grow: 2;
    padding: 10px 10px 0 10px;
    min-width: 40px !important;
    margin-bottom: 0px !important;
}

@media (max-width: 1200px) , (max-height: 500px) {
  .secondCol {
        display: none;
  }
}

.secondCol {
    max-height: 100vh;
    position: relative;
}
  



.flexCol.right {
    flex-grow: 1;
    min-width: 40px !important;
    margin-bottom: 0px !important;

} 
.flexCol > table {
    width: 100%;
}
.flexCol td {
    text-align: right;
}
.tbLb {
    width: 80%;
    text-align: left !important;

}

.matched b {
      font-weight: normal;
      background: yellow;
}

#searchInfo {
    width: 150px;
    float:right;
    margin-bottom: 8px;
    margin-left: 20px;
    word-wrap: break-word;
}
#searchInfo table {
    width: 100%;

}
#searchInfo table > tbody > td > td:first-child {
    width: 100px;
}

.searchInfoTagSep {
    width: 100%;
    border-bottom: 1px solid grey;
    margin-top: 14px;
    margin-bottom: 15px;
    padding-bottom: 4px;    
}


@keyframes pulsate {
    0% {
      transform: scale(.1);
      opacity: 0.0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: scale(1.2);
      opacity: 0;
    }
}

#freeze-icon {
    position: absolute; 
    bottom: 5px; 
    right: 5px; 
    font-size: 19px;
    cursor: pointer;
    color: grey;
    user-select: none;
}
#freeze-icon:hover {
    color:  #2496dc;
}

#freeze-icon.frozen {
    color:  #2496dc !important;
}


   /* tooltip */

.tooltip {
    position: relative;
    display: inline-block;
  }

  .tooltip-blue {
    color: white;
    background: #2496dc;
    border-radius: 2px;
    font-size: 16px;
    padding: 0 6px 0 6px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .tooltip .tooltiptext {
    display: none;
    width: 240px;
    background-color: white;
    color: black;
    font-size: 12px;
    text-align: center;
    border: 1px solid #2496dc;
    padding: 10px;
    position: absolute;
    z-index: 99999999;
    bottom: 95%;
    left: 50%;
    margin-left: -7px;
    user-select: none;
  }

  .tooltiptext td {
      text-align: left;
  }


  /* deck list*/


.deck-list-item {
    list-style-type: none;
    cursor: pointer;
    margin-left: 0px;
    padding-left: 0px;
    width: 100%;
    position: relative;
    margin-top: 3px;
    margin-bottom: 1px;
    border-top: 1px solid grey;
    user-select: none;

   
}
.deck-list-item>input {
    position: absolute;
    right: 5px;
}
.deck-sub-list {
    display: none;
    margin-top: 4px;
    margin-left: 12px;
    padding-left: 0px;
}


.blueBG {
   background: #2496dc;
   color: white;
   padding: 0 4px 0 4px;
}

.deck-sub-list.outer {
    display: block;
    margin-left: 0px;
    padding-left: 0px;
}

.exp {
    user-select: none;

}




/* Modal */


.modal {
    display: none; 
    position: absolute; 
    z-index: 9999999999; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  .modal-content {
    z-index: 99999999999; 
    background-color: #fefefe;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    width: 50%;
    border: 2px solid #2496dc;
  }

#modalText {
    z-index: 99999999999; 
    color: black;
}
.modal-close {

    border: 1px solid #2496dc;
    background: white;
    color: #2496dc;
    cursor: pointer;
}

/*  tag list */

.tag-list {
    margin-left: 10px;
}

.tag-list.outer {
    margin-left: 0px;
    padding-left: 0px;
    display: block;
}
.tag-list-item {
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
    width: 100%;
    position: relative;
    margin-top: 8px;
    padding-top: 5px;


}
.tag-btn {
    background: #f0506e; 
    color: white;
    padding: 2px 5px 2px 5px;
    border-radius: 2px;
    cursor: pointer;
    user-select: none;

}

.tag-add {
    position: absolute; 
    right: 5px; 
    top: 0px; 
    cursor: pointer; 
    font-size: 16px; 
    color:#2496dc;
    font-weight: bold;
}

span.tag-symbol {
    transform: rotate(90deg);
    display: inline-block;
  }

  #toggleTop {
    position: absolute; 
    top: 5px; 
    right: 5px; 
    font-size: 19px;
    cursor: pointer;
    color: grey;
    user-select: none;
    font-weight: bold;
  }