
:root {
    --tleft : 50%;
}

body {
    overflow-x: hidden;
    overflow: hidden;
}

#fields {
    overflow-y: auto;
    height: 90vh;
}

#startInfo {
    padding-left: 20px;
}

.signal {
    border: 5px solid #2496dc;
    border-radius: 30px;
    height: 30px;
    opacity: 0;
    margin-left: 24px;
    width: 30px;
 
    animation: pulsate 1.5s ease-out;
    animation-iteration-count: infinite;
}
#loader {
    position: absolute;
    top: calc(50% - 45px);
    left: calc(50% - 27px);
    width: 80px;
    font-size: 20px;
    color: #2496dc;
 }
 #modal-loader {
    display: none;
    position: absolute;
    top: calc(50% - 45px);
    left: calc(50% - 27px);
    width: 80px;
    font-size: 20px;
    color: #2496dc;
 }

#searchResults {
    display: none; 
    height: calc(100% - 20px); 
    overflow-y: auto; 
    padding-right: 10px;
    overflow-x: hidden;
    max-width: 100%;
    z-index: 100;

}
.editedStamp {
    display: inline;
}

.cardR {
  border: 1px solid $noteBorderColor$; 
  padding: 10px 15px 25px 15px; 
  position: relative;
  font-size: $noteFontSize$ !important;
  color: $noteForegroundColor$;
  background: $noteBackgroundColor$;
  overflow-x: hidden;
  
}
.cardR img {
    max-height: $imgMaxHeight$;
    max-width: 100%;
}

.cardWrapper.grid .cardR {
    word-wrap: break-word;
}

.cardR:hover {
     border: 1px solid  #2496dc; 
   
}

.score {
     background:  #2496dc;
     color: white;
     border-radius: 2px;
     padding: 0 3px 0 3px;
     margin-bottom: 5px;
      margin-right: 4px;
}
.smallMarginTop {
    margin-top: 5px;
}
.smallMarginBottom {
    margin-bottom: 4px;
}
.minorScore {
     border: 1px solid  #2496dc;
     color:  #2496dc;
     border-radius: 2px;
     padding: 0 3px 0 3px;
     margin-right: 4px;
}
.statusBar {
    float: right;
    background: #2496dc;
    color: white;
    font-size: 14px;
    padding: 0 5px 0 5px;
    margin-right: 5px;
    width: 200px;
}

.btnBar {
    display: flex;
    position: absolute;
    top: 0;
    right: 0px;
    opacity: 0;
}
.floatingBtnBar {
    display: inline;
    color: white;
   
}
.floatingBtnBarItem {
    display: inline; 
    cursor: pointer;
}

.flexCol > select {
    width: 200px;
}

.btnBar:hover {
    opacity: 1;
}

#bottomContainer {
    z-index: 2;
    padding-top: 0px;
    margin-right: 0px;
    padding-right: 0px;
    overflow-x: hidden;
}

.keyword {
    cursor: pointer;
    color: $keywordColor$; 
}

#topContainer {
    z-index: 999;
    position: relative;
    flex-wrap: nowrap;
}




.tagLbl {
    position: relative;
    background: $tagBackgroundColor$; 
    color: $tagForegroundColor$; 
    padding: 2px 4px 2px 4px; 
    border-radius: 2px; 
    margin-left: 5px; 
    float: right; 
    font-size: $tagFontSize$ !important;
    cursor: pointer;
    z-index: 999;
    user-select: none;
}
#tagContainer .tagLbl {
    float: left;
    margin-bottom: 5px;
    hyphens: manual;
    margin-right: 7px; 
    margin-left: 0px;
}

.topLeftWr {
    position: absolute; 
    left: 0px; 
    top: 0px; 
    z-index:999;
    font-size: 0;
}

.retMark {
    display: inline-block;
    width: calc(100% - 0px);
    height: 17px;
    font-size: 9px;
    text-align: center;
    line-height: 17px;
}

.rankingLbl {
    background: #2496dc; 
    color: white; 
    padding: 2px 6px 2px 6px; 
    font-size: 11px;
    user-select: none;
    cursor: pointer;
}
.rankingLblAddInfo {
    display: none;
    user-select: none;
}
.remLbl, .floatLbl {
  
    border: 1px solid $noteBorderColor$;
    border-left: 0px solid  $noteBackgroundColor$; 
    color: $noteForegroundColor$;
    background:  $noteBackgroundColor$; 
    z-index:9999;
    padding: 2px 6px 2px 6px; 
    cursor: pointer;
    flex: 1;
    font-size: 13px !important;
    user-select: none;
}
.srchLbl  {
    background:  $noteBackgroundColor$; 
    color: $noteForegroundColor$;
    z-index:9999;
    border: 1px solid $noteBorderColor$;
    border-right: 0px solid $noteBackgroundColor$; 
    padding: 3px 3px 3px 3px;
    cursor: pointer;
    flex: 1;
    user-select: none;
}
.editLbl {
    background:  $noteBackgroundColor$; 
    color: $noteForegroundColor$;
    z-index:99999;
    border: 1px solid $noteBorderColor$;
    border-right: 0px solid  $noteBackgroundColor$; 
    padding: 3px 5px 3px 5px;
    cursor: pointer;
    flex: 1;
    user-select: none;
}
.pinLbl {
    background: $noteBackgroundColor$; 
    color: $noteForegroundColor$;
    z-index:9999;
    padding: 1px 5px 2px 5px; 
    cursor: pointer;
   flex: 1;
   user-select: none;
}
.pinLbl.unselected {
    border: 1px solid $noteBorderColor$;
    background: $noteBackgroundColor$;
}

.pinLbl > span {
  color: transparent;
  text-shadow: 0 0 0 $noteForegroundColor$;
  font-size: 8px !important;
  user-select: none;
}
.rankingLbl > span {
  margin-top: -4px;
  color: transparent;
  font-size: 8px !important;
  text-shadow: 0 0 0 rgb(255,255,255);
  user-select: none;
}

.editLbl:hover,.srchLbl:hover,.remLbl:hover,.floatLbl:hover {
    color: #2496dc;
}



.pinLbl.unselected > span {
   color: transparent;
  text-shadow: 0 0 0 $noteForegroundColor$;
  font-size: 7px !important;

}
.pinLbl.unselected:hover > span {
    text-shadow: 0 0 0 #2496dc;
}
.cardWrapper {
     padding: 9px;
     margin-bottom: 10px; 
     position: relative;
     display: none;
}
.cardWrapper.grid {
    width: calc(50% - 29px);
    vertical-align: top;
    margin-left: 5px;
}

.gridRow {
    width: 100%;
    vertical-align: top;
    padding: 0px !important;
}

.cardWrapper .tag-symbol {
    color: grey; 
}

.cardLeftBot {
    position: absolute; 
    bottom: 2px; 
    left: 0px; 
    z-index:999; 
    border: 1px solid  $noteBorderColor$;
    background:  $noteBackgroundColor$;
    color: $noteForegroundColor$;
    cursor: pointer;
    user-select: none;

}
.cardLeftBot:hover {
    color: #2496dc;
}
#predefSearchSelect {
    margin-right: 5px;
}
#predefSearchNumberSel {
    margin-right: 5px;
}
#searchMask {
    background: $browserSearchInputBackgroundColor$;
    color: $browserSearchInputForegroundColor$;
    border: 1px solid $browserSearchInputBorderColor$;
    width: 100%;
    min-width: 50px;
}
#searchBtn {
    flex:  0 0 40px;
    margin-left: 10px;
    background: $browserSearchButtonBackgroundColor$;
    color: $browserSearchButtonForegroundColor$;
    border: 1px solid $browserSearchButtonBorderColor$;
}

#hvrBox {
   position: absolute;
   background: white;
   border: 2px solid #2496dc;
   padding: 3px;
   font-size: 12px;
   width: 220px;
   z-index: 10000;
   display: none;

}



.fldSep {
  color: #2496dc;
  margin: 0 5px 0 5px;
}

.darkGreen { background: #226600; color: white; padding: 0 3px 0 3px; }
.green { background: #3bb300; color: white; padding: 0 3px 0 3px; }
.lightGreen { background: #6be09e; color: white; padding: 0 3px 0 3px; }
.darkRed { background: #991f00; color: white; padding: 0 3px 0 3px; }
.red { background: #ff3300; color: white; padding: 0 3px 0 3px; }
.lightRed { background:  #ff704d; color: white; padding: 0 3px 0 3px; }


#deckSelWrapper {
    height: 130px;
    margin-bottom: 0px !important;
    margin-right: 1px;
    width: calc(100% - 1px);
    border: 1px solid grey;
    overflow-y: auto;
    background:  $deckSelectBackgroundColor$;
}

#deckSel {
    width: 100%;
    background: $deckSelectBackgroundColor$;
    color: $deckSelectForegroundColor$;
    font-size: 0;
}

#deckSel tr>td {
   text-align: left;
   width: 90%;
}

.hvrLeftItem {
    width: calc(100% - 10px);
    padding: 3px 4px 3px 4px;
}

.hvrSelected {
    background: #2496dc;
    color: white;
}

#tagContainer {
    overflow-x: hidden;
}

#switchBtn {
    display: none !important;
    }


.flexContainer {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 0px !important;
}


.flexCol {
    flex-grow: 2;
    padding: 10px 10px 0 10px;
    min-width: 40px !important;
    margin-bottom: 0px !important;
}


.addon-hidden {
    display: none !important;
}


@media (max-height: 640px) {
    #tagContainer {
        max-height: 100px !important;
    }
    .searchInfoTagSep{
       margin-top: 5px !important;
    }
    .searchInfoTagSep.bottom {
       margin-top: 8px !important;

    }
}


@media (max-width: 1000px) , (max-height: 500px) {
  .secondCol {
        display: none;
  }



  #outerWr.onesided > .secondCol {
        display: block;
        width: 100% !important;
        margin-left: 0px !important;
        border-left: 0px solid white !important;
        padding-left: 0px !important;
  }
  #switchBtn {
      display: inline-block !important;
  }
 
}
@media (max-width: 1300px) {
    #searchMaskCol {
        display: none;
    }
   
    #predefCol {
        margin-left: 5px;
    }
}

@media (max-width: 800px) {
   
   .icns-add {
        display: none !important;
    }
    .grid-icon, .freeze-icon, .rnd-icon {
        font-size: 17px !important;
    }
}

@media (max-width: 1200px) {
    .cardR, .tagLbl, .searchInfoTagLbl, .keyword {
        font-size: 12px !important;
    }
    .minorScore, #searchInfo {
        display: none;
    }
}
@media (min-width: 650px) {
    #outerWr.onesided #searchMaskCol {
        display: flex;
    }
    #outerWr.onesided #searchInfo:not(.hidden) {
        display: block;
    }

}

@media (min-height: 900px) {
    #tagContainer {
        max-height: 400px !important;
    }
    .searchInfoTagSep{
        margin-top: 20px !important;
     }
     #modalText {
         max-height: 650px !important;
     }
}
@media (max-width: 500px) {
    #sortCol {
        display: none;
    }
    .modal-content 
    {
        width: 80% !important;
    }
   
  

}
@media (max-height: 600px) {
    #modalText {
        max-height: 350px !important;
    }
}

.secondCol {
    max-height: 100vh;
    position: relative;
    font-size: 12px !important;
    overflow-y: hidden;
}
  
.hidden {
    display: none;
}


.flexCol.right {
    flex-grow: 1;
    min-width: 40px !important;
    margin-bottom: 0px !important;

} 
.flexCol > table {
    width: 100%;
}
.flexCol td {
    text-align: right;
}
.tbLb {
    width: 80%;
    text-align: left !important;
    user-select: none;
    white-space: nowrap;
    overflow: hidden;
}

.matched b {
      font-weight: normal;
      background: yellow;
}

#icns-small {
    display: none;
}

#searchInfo {
    width: 150px;
    float:right;
    margin-bottom: 8px;
    margin-left: 20px;
    word-wrap: break-word;
}
#searchInfo table {
    width: 100%;

}
#searchInfo table > tbody > td > td:first-child {
    width: 100px;
}

.searchInfoTagSep {
    width: 100%;
    border-bottom: 1px solid grey;
    margin-top: 13px;
    margin-bottom: 6px;
    padding-bottom: 4px;    
}
.searchInfoTagSep.bottom {
    margin-top: 10px;
    margin-bottom: 4px;
}

@keyframes pulsate {
    0% {
      transform: scale(.1);
      opacity: 0.0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: scale(1.2);
      opacity: 0;
    }
}

#icns-large, #icns-small {
    position: absolute;
    right: 5px;
    bottom: 5px;
    text-align: right;

}

.rnd-icon {
    float: right;
    font-size: 13px !important;
    cursor: pointer;
    color: grey;
    user-select: none;
    white-space: nowrap;
  overflow: hidden;
  margin-right: 5px;
}


.freeze-icon {
    float: right;
    font-size: 13px !important;
    cursor: pointer;
    color: grey;
    user-select: none;
    white-space: nowrap;
  overflow: hidden;
}



.freeze-icon:hover, .grid-icon:hover, .rnd-icon:hover {
    color:  #2496dc;
}

.freeze-icon.frozen {
    color:  #2496dc !important;
}
.grid-icon {
   float: right;
    font-size: 13px !important;
    cursor: pointer;
    color: grey;
    user-select: none;
    white-space: nowrap;
  overflow: hidden;
  margin-right: 5px;

}
.grid-icon.active {
    color:  #2496dc !important;
}


   /* tooltip */

.tooltip {
    position: relative !important;
    display: inline-block;
}

  .tooltip-blue {
    color: $browserSearchButtonForegroundColor$;
    background: $browserSearchButtonBackgroundColor$;
    border: 1px solid  $browserSearchButtonBorderColor$;
    cursor: pointer;
    margin-right: 10px;
    outline: none;
  }
  
  .tooltip .tooltiptext {
    visibility:  hidden;
    width: 300px;
    background-color: $modalBackgroundColor$;
    color: $modalForegroundColor$;
    font-size: 12px;
    text-align: center;
    border: 2px solid #2496dc;
    padding: 10px;
    position: absolute;
    z-index: 99999999;
    bottom: 95%;
    left: 50%;
    margin-left: -12px;
    margin-top: -5px;
    user-select: none;
  }

  .tooltiptext td {
      text-align: left;
  }
  

  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  
  /* deck list*/


.deck-list-item {
    list-style-type: none;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    border-spacing: 0px;
    width: calc(100% - 8px);
    position: relative;
    user-select: none;
    font-size: $deckSelectFontSize$ !important;
}
.deck-list-item .deck-list-item {
    width: 100%;
}
.deck-list-item > div {
    display: inline-block; 
    overflow-x: hidden;
     white-space:nowrap; 
     width: 100%;
     padding: 1px 4px 1px 4px;
}
.list-item-inner:hover {
    background: $deckSelectHoverBackgroundColor$;
    color: $deckSelectHoverForegroundColor$;
}
.check {
    float: right;
    color: green;
    display: none;
}
.deck-list-item.selected > .list-item-inner > .check {
    display: inline;
}
.deck-list-item.selected:hover > .list-item-inner:hover > .check {
    color: $deckSelectHoverForegroundColor$;
}
.deck-list-button {
border: 1px solid $deckSelectButtonBorderColor$;
border-top: 0px;
background: $deckSelectBackgroundColor$;
color: $deckSelectButtonForegroundColor$;
cursor: pointer;
font-size: 11px !important;
user-select: none;
}
.deck-list-button.center {
    border-left: none;
    border-right: none; 
}
#toggleBrowseMode {
    border-left: none;
}
.deck-list-button:hover {
    color: #2496dc;
}
.deck-list-button:active,.deck-list-button:focus {
    outline: none;
}
.deck-sub-list {
    display: none;
    margin-top: 4px;
    margin-left: 12px;
    padding-left: 0px;
}
.blueBG {
   background: #2496dc;
   color: white;
   padding: 0 4px 0 4px;
}

.deck-sub-list.outer {
    display: block;
    margin-top: 0px;
    margin-left: 0px;
    padding-left: 0px;
}
.exp {
    user-select: none;
}
.full-width {
    width: 100%;
}

table.striped {
    border-collapse: collapse;
}

table.striped tr:nth-child(even) {
    background-color: #f2f2f2 !important;
  }

.exp:empty {
    display: none;
}

.siac-btn-small {
    display: inline;
    padding: 1px 4px 1px 4px;
    color: $infoButtonForegroundColor$;
    background: $infoButtonBackgroundColor$;
    border: 1px solid  $infoButtonBorderColor$;
    cursor: pointer;
    user-select: none;
    font-size: 11px !important;
    outline: none;
}
.siac-btn-smaller {
    display: inline;
    padding: 1px 4px 1px 4px;
    color: $infoButtonForegroundColor$;
    background: $infoButtonBackgroundColor$;
    border: 1px solid  $infoButtonBorderColor$;
    cursor: pointer;
    user-select: none;
    font-size: 10px !important;
    outline: none;
}

#indexInfo, #synonymsIcon, #stylingIcon {
    margin-right: 5px;

}
#indexInfo:hover, #synonymsIcon:hover, #stylingIcon:hover {
    color: #2496dc;
}

#lastAdded, #sortBtn {
    color: $infoButtonForegroundColor$;
    background: $infoButtonBackgroundColor$;
    border: 1px solid $infoButtonBorderColor$;
    cursor: pointer;
    user-select: none;
    outline: none;
    vertical-align: middle !important;
    text-align: center !important;
    height: 20px !important;
    box-sizing: border-box !important;
    font-size: 8px !important;
    display: inline-block !important;
    line-height: 1em !important;   
    padding: 5px !important;
    max-width: 30px !important;
}


fieldset {
  
    padding: 0.7em;
}


select {
    height: 20px;
    vertical-align: top;
}

#modal-content > fieldset {
    font-size: 1.9em;
}


#synonymInput {
    width: 97%;
    margin-top: 5px;
    background: $modalBackgroundColor$;
    color: $modalForegroundColor$;
}

#synTable tr td:first-child {
    max-width: 150px;
    word-wrap: break-word;
}

#deckInfoBox {
    display: none;
    background: $deckSelectHoverBackgroundColor$;
    color: $deckSelectHoverForegroundColor$;
    height: 100%;
    width: 100%;
}


#specialSearches {
    flex:  0 0 20px;
    margin-left: 10px; 
    background: $browserSearchButtonBackgroundColor$;
    color: $browserSearchButtonForegroundColor$;
    border: 1px solid $browserSearchButtonBorderColor$;
}

/* Modal */

#greyout {
    display: none; 
    position: absolute; 
    z-index: 9999; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal {
    display: none; 
    position: absolute; 
    z-index: 9999999999; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  .modal-content {
    z-index: 99999999999; 
    background: $modalBackgroundColor$;
    color: $modalForegroundColor$;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    width: 70%;
    border: 2px solid #2496dc;
  }

#modalText {
    z-index: 99999999999; 
    color: $modalForegroundColor$;
    max-height: 450px;
    overflow-y: auto;
    padding-right: 10px;
}
#modalText.small {
    max-height: 200px !important;
    background: yellow;
    color: green;
    font-size: 30px;
}
#modal-subpage {
    display:none;
    z-index: 99999999999; 
    color: $modalForegroundColor$;
    max-height: 450px;
}
#modal-subpage-inner {
    overflow-y: auto;
    width: 100%;
}
.modal-close {

    border: 1px solid #2496dc;
    background: $modalBackgroundColor$;
    color: #2496dc;
    cursor: pointer;
    user-select: none;
}

/*  tag list */

.tag-list {
    margin-left: 10px;
}

.tag-list.outer {
    margin-left: 0px;
    padding-left: 0px;
    display: block;
}
.tag-list-item {
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
    width: 100%;
    position: relative;
    margin-top: 8px;
    padding-top: 5px;


}
.tag-btn {
    background: $tagBackgroundColor$;  
    color: $tagForegroundColor$; 
    padding: 2px 5px 2px 5px;
    border-radius: 2px;
    cursor: pointer;
    user-select: none;
    font-size: $tagFontSize$ !important;

}

.tag-add {
    position: absolute; 
    right: 5px; 
    top: 0px; 
    cursor: pointer; 
    font-size: 16px; 
    color:#2496dc;
    font-weight: bold;
}

span.tag-symbol {
    transform: rotate(90deg);
    display: inline-block;
  }

  #toggleTop {
    font-size: 19px;
    cursor: pointer;
    color: grey;
    user-select: none;
    font-weight: bold;
    text-align: center;
    width: 100%;
    z-index: 99999999;
  }
  #toggleTop:hover {
      transform: scale(1.2);
      color: #2496dc;
  }
  .noteFloating {
    position: absolute;
    z-index: 9999999999;
    border: 1px solid #2496dc;
    text-align: center;
  }
  
.noteFloatingContent {
    padding: 10px;
    min-width: 150px;
    max-width: 280px;
    max-height: 220px;
    overflow-y: auto;
    background: $noteBackgroundColor$;
    color: $noteForegroundColor$;
    font-size: $noteFontSize$;
    text-align: left;
}

  .noteFloatingHeader {
    height: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    cursor: move;
    z-index: 9999999999;
    background-color: #2496dc;
    color: #fff;
    user-select: none;
    font-size: 11px !important;
    text-align: right;
  }
.cal-block-outer {
    height: 100%;
     padding-top: 5px;
     padding-bottom: 5px;
      cursor:pointer;
      display: inline-block;
      width: calc(100% / 365);
}
.cal-block-outer:hover > .cal-block, .cal-block-outer:hover > .cal-block {
    background-color: $tagBackgroundColor$;
}

  .cal-block {
      position: relative;
      height: 100%;
      width: 100%;
  }
  .cal-block-week {
    display: inline-block;
    cursor:pointer;
    width: 17px;
    height: 17px;
    background: white;
    margin-right: 3px; margin-left: 3px;
    text-align: center;
    vertical-align: middle;
    line-height: 17px; 
    color: black;
    user-select: none;
}
.cal-block-week:hover {
    transform: scale(1.15);
}
.cal-lg {
    height: 24px;
    width: 24px;
    line-height: 24px; 
}

  .cal-one {
      background: #c6e48b;
  }
  .cal-two {
    background: #7bc96f;
}
.cal-three {
   background: #196127; 
}
.cal-block-week.cal-three {
    color: white;
}
.cal-today {
    background: #2496dc;
}

#cal-info {
    position:absolute;
    left: 0px;
    display: none;
    z-index: 1000;
    width: 300px;
    height: 250px;
    padding: 5px;
    background:#595959;
    color: white;
    border-radius: 3px;
}


#cal-info:after {
    content: " ";
    position: absolute;
    top: 100%; 
    left: var(--tleft);
    margin-left: -8px;
    border-width: 8px;
    border-style: solid;
    border-color: #595959 transparent transparent transparent;
}

  /*MAC*/
.dCheck {
    margin-right:   10px;
}

.flot-x-axis .flot-tick-label {
    white-space: nowrap;
    transform: translate(-9px, 0) rotate(-60deg);
    text-indent: -100%;
    transform-origin: top right;
    text-align: right !important;

}

.sa-blue-hover:hover {
    background: #2496dc !important;
    color: white;
}
.sa-cursor-pointer {
    cursor: pointer;
}

.revlog-block {
    height: 15px;
    width: 15px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 15px; 
    font-size: 8px;    
    margin: 0 2px 0 2px;
}
.revlog-block.larger {
    width: 20px;
}
.revlog-block-1 {
    background: red;
}
.revlog-block-2 {
    background: black;
    color: white;
}
.revlog-block-3 {
    background: green;
    color: white;
}
.revlog-block-4 {
    background: blue;
    color: white;
}

.siac-tag-info-box {
    position: absolute;
    z-index: 9999;
    display: none;
    box-sizing: border-box;
    width: 600px;
    background-color: $modalBackgroundColor$;
    color: $modalForegroundColor$;
    font-size: 12px;
    text-align: center;
    border: 2px solid $tagBackgroundColor$ !important;
    padding: 10px;
    user-select: none;
    cursor: default;
}
.siac-tag-info-box-small {
    width: 300px;
}

.siac-tag-info-box-left {
    overflow-y: auto;
    max-height: 250px;
    padding-right: 5px;
    margin-top: 5px;
    text-align: left;
    overflow-x: hidden;
    cursor: auto;
}
.siac-tag-info-box-left .cardR {
    user-select: text;
}
.siac-tag-info-box-left .editLbl {
    border-right: 1px solid $noteBorderColor$;
}
.siac-tag-info-box .flot-y-axis {
    left: -15px !important;
}