<div class='siac-notes-sidebar-section siac-notes-sidebar-section-first' style='flex: 1 0 auto;'>
    <div class='flex-col' style='padding: 10px 10px 13px 10px; flex: 1 0 auto; justify-content: space-between;'>
        <div>
            <div class='siac-notes-sidebar-item' onclick='pycmd("siac-r-user-note-newest");'>&nbsp;Newest</div>
            <div class='siac-notes-sidebar-item'>
                <details>
                    <summary class="pl-5">PDFs</summary>
                    <div class='siac-notes-sidebar-item' onclick='pycmd("siac-r-show-pdfs")'>&nbsp;Newest</div>
                    <div class='siac-notes-sidebar-item' onclick='pycmd("siac-r-show-pdfs-unread")'>&nbsp;Unread</div>
                    <div class='siac-notes-sidebar-item' onclick='pycmd("siac-r-show-pdfs-in-progress")'>&nbsp;In Progress</div>
                </details>
            </div>
            <div class='siac-notes-sidebar-item' onclick='pycmd("siac-r-show-video-notes")'>&nbsp;Videos</div>
            <div class='siac-notes-sidebar-item' onclick='pycmd("siac-r-user-note-last-opened");'>&nbsp;Last Opened</div>
            <!--  <div class='siac-notes-sidebar-item blue-hover' onclick='pycmd("siac-r-show-last-done")'>Last Done</div>-->
            <div class='siac-notes-sidebar-item' onclick='pycmd("siac-r-show-stats")'>&nbsp;Read Stats</div>
            {sched_today_menu_item}
            <div class='siac-notes-sidebar-item' onclick='pycmd("siac-r-user-note-untagged")'>&nbsp;Untagged</div>
            <div class='siac-notes-sidebar-item'>
                <details>
                    <summary class="pl-5">Random</summary>
                    <div class='siac-notes-sidebar-item' onclick='pycmd("siac-r-user-note-random");'>&nbsp;All</div>
                    <div class='siac-notes-sidebar-item' onclick='pycmd("siac-r-user-note-random-pdf");'>&nbsp;PDFs</div>
                    <div class='siac-notes-sidebar-item' onclick='pycmd("siac-r-user-note-random-text");'>&nbsp;Text</div>
                    <div class='siac-notes-sidebar-item' onclick='pycmd("siac-r-user-note-random-video");'>&nbsp;Video</div>
                </details>
            </div>
        </div>
        <div class='flex-row mt-10' style='align-items: center'>
            <input type='text' id='siac-sidebar-inp' class='siac-sidebar-inp'
                placeholder='Search'
                onkeyup='searchForUserNote(event, this);' />
            <i class='fa fa-search blue-hover ml-5'
                onclick='pycmd("siac-r-user-note-search-inp " + byId("siac-sidebar-inp").value);'></i>
        </div>
    </div>
</div>
<div class='siac-notes-sidebar-section' style='margin-top: 20px;'>
    <div class='siac-notes-sidebar-section-header flex-row flex-between flex-center' style='min-height: 32px;'>
        <b><i class='fa fa-tags mr-10'></i>Tags ({tag_len})</b>
        <div>
            <b class='siac-tags-exp-icon' style='padding: 0 2px 0 2px;'
                onclick='noteSidebarCollapseAll();'>&#x25B2;</b>
            <b class='siac-tags-exp-icon mr-5' style='padding: 0 2px 0 2px;' onclick='noteSidebarExpandAll();'>&#x25BC;</b>
        </div>
    </div>
    <div class='mb-5 mr-10 ml-10 mt-10 oflow_y_auto tag_scroll' style='flex: 1 1 auto; padding-right: 7px;'
        onscroll='_siacSidebar.addonTagsScrollTop = this.scrollTop;'>
        {tag_html}
    </div>
</div>