/* 
### Basics 
*/
.w-100 {
    width: 100% !important;
    max-width: 100% !important;
}
.h-100 {
    height: 100% !important;
}
.mt-5 {
    margin-top: 5px !important;
}
.mb-5 {
    margin-bottom: 5px !important;
}
.ml-5 {
    margin-left: 5px !important;
}
.mr-5 {
    margin-right: 5px !important;
}
.mt-10 {
    margin-top: 10px !important;
}
.mb-10 {
    margin-bottom: 10px !important;
}
.ml-10 {
    margin-left: 10px !important;
}
.mr-10 {
    margin-right: 10px !important;
}
.p-5 {
    padding: 5px !important;
}
.p-10 {
    padding: 10px !important;
}
.pr-5 {
    padding-right: 5px !important;
}
.pl-5 {
    padding-left: 5px !important;
}
.pr-10 {
    padding-right: 10px !important;
}
.pl-10 {
    padding-left: 10px !important;
}
.oflow_y_auto {
    overflow-y: auto;
}
.oflow_hidden {
    overflow: hidden;
}
.user_sel_none {
    user-select: none;
}
.bold {
    font-weight: bold;
}
.blue-hover:hover {
    cursor: pointer;
    color: #2496dc !important;
}
.white-hover:hover {
    color: white !important;
}
.turquoise-hover:hover {
    color: turquoise !important;
}
.red-hover:hover {
    color: orangered !important;
}
.fg-red {
    color: #f0506e !important;
}
.fg-green {
    color: #32d296 !important;
}
.fg-green-hover:hover {
    color: #32d296 !important;
}
.bright-hover:hover {
    filter: brightness(1.4);
}
.hidden {
    display: none !important;
}
.cursor-pointer {
    cursor: pointer;
}
.ta_center {
    text-align: center;
}
.ta_right {
    text-align: right;
}
.ta_left {
    text-align: left;
}
.flex-col {
    display: flex; 
    flex-direction: column;
}
.flex-row {
    display: flex; 
    flex-direction: row;
}
.flex-between {
    justify-content: space-between;
}
.flex-center {
    align-items: center;
}
.fg_lightgrey {
    color: lightgrey;
}
.fg_grey {
    color: grey;
}
.darkGreen { background: #226600; color: white; padding: 0 3px 0 3px; }
.green { background: #3bb300; color: white; padding: 0 3px 0 3px; }
.lightGreen { background: #6be09e; color: white; padding: 0 3px 0 3px; }
.darkRed { background: #991f00; color: white; padding: 0 3px 0 3px; }
.red { background: #ff3300; color: white; padding: 0 3px 0 3px; }
.lightRed { background:  #ff704d; color: white; padding: 0 3px 0 3px; }
/* 
### End basics 
*/