 /* deck list*/
 .deck-list-item {
    list-style-type: none;
    cursor: pointer;
    margin: 0;
    padding: 0px;
    border-spacing: 0px;
    width: calc(100% - 8px);
    position: relative;
    user-select: none;
    font-size: 12px !important;
}
.deck-list-item .deck-list-item {
    width: 100%;
}
.list-item-inner {
    text-overflow: ellipsis;
    position: relative;
}
.deck-list-item > div {
    display: inline-block;
    overflow-x: hidden;
     white-space:nowrap;
     width: 100%;
     padding: 1px 4px 1px 4px;
}
.deck-list-item:hover >.list-item-inner {
    background: lightseagreen;
    color: white;
    border-radius: 4px;
}

.check {
    float: right;
    color: var(--c-deck-select-checkmark);
    display: none;
}

.siac-tl-plus {
    position: absolute;
    right: 3px;
    z-index: 2;
    padding-left: 2px;
    background: lightseagreen;
    color: white;
    display: none;
}
.list-item-inner:hover .siac-tl-plus {
    display: inline-block;
}
.siac-tl-plus:hover {
    transform: scale(1.1);
}
.deck-list-item.selected > .list-item-inner > .check {
    display: inline;
}
.deck-list-item.selected:hover > .list-item-inner:hover > .check {
    color: white;
}
.deck-list-button {
    border: 2px outset var(--c-button-border);
    background: var(--c-button-background);
    color: var(--c-button-color);
    cursor: pointer;
    font-size: 12px !important;
    user-select: none;
    font-weight: bold;
    display: inline-block;
    padding: 1px 5px 1px 5px;
    margin-right: 10px;
    border-radius: 5px;
}

.deck-list-button:hover {
    color: #2496dc;
}
.deck-list-button:active,.deck-list-button:focus {
    outline: none;
}
.deck-sub-list {
    display: none;
    margin-top: 2px;
    margin-left: 12px;
    padding-left: 0px;
}
.deck-sub-list.outer {
    display: block;
    margin-top: 0px;
    margin-left: 0px;
    padding-left: 0px;
}