 /* deck list*/
 .deck-list-item {
    list-style-type: none;
    cursor: pointer;
    margin: 0;
    border-spacing: 0px;
    width: calc(100% - 8px);
    position: relative;
    user-select: none;
    font-size: 12px !important;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.deck-list-item:not(:last-child) {
    margin: 2px 0;
}
.deck-list-item .deck-list-item {
    width: 100%;
}
#siac-notes-sidebar .exp {
    margin-right: 3px;
}
.deck-list-item > div {
    display: inline-block;
    overflow-x: hidden;
    white-space:nowrap;
    width: 100%;
    padding: 2px 4px;
}
.deck-list-item:hover {
    background: var(--c-primary-color);
    color: white;
}
.deck-list-item:hover > .deck-sub-list {
    background: var(--c-card-bg);
    color: var(--text-fg);
}
body.nightMode .deck-list-item:hover > .deck-sub-list {
    background: var(--c-card-bg-night);
    color: whitesmoke;
}
body.nightMode .deck-list-item:hover {
    /* background: var(--c-primary-color-night); */
    background: #3e3e3e;
}
.check {
    float: right;
    color: var(--c-deck-select-checkmark);
    display: none;
    margin-right: 3px;
}

.siac-tl-plus {
    position: absolute;
    right: 3px;
    z-index: 2;
    padding-left: 2px;
    background: var(--c-primary-color);
    color: white;
    display: none;
}
body.nightMode .siac-tl-plus {
    /* background: var(--c-primary-color-night); */
    background: #3e3e3e;
}
.deck-list-item:hover > .siac-tl-plus {
    display: inline-block;
}
.siac-tl-plus:hover {
    color: coral;
}
.deck-list-item.selected > .check {
    display: inline;
}
.deck-list-item.selected:hover > .check {
    color: white;
}
#siac-deck-sel-btn-wrapper, #deck-sel-info-lbl {
    text-align: center;
}
.deck-list-button {
    border: 1px solid var(--c-primary-color);
    color: black;
    cursor: pointer;
    font-size: 12px !important;
    user-select: none;
    font-weight: bold;
    display: inline-block;
    padding: 1px 5px 1px 5px;
    margin-right: 10px;
    border-radius: 2px;
}
body.nightMode .deck-list-button {
    color: lightgrey;
    border-color: var(--c-primary-color-night);
}
.deck-list-button:hover {
    color: coral !important;
}
.deck-list-button:active,.deck-list-button:focus {
    outline: none;
}
.deck-sub-list {
    display: none;
    margin-top: 2px;
    padding-left: 12px;
}
.deck-sub-list.outer {
    display: block;
    margin-top: 0px;
    margin-left: 0px;
    padding-left: 0px;
}

.siac-tag {
    overflow: hidden;
    text-overflow: ellipsis;
}

.siac-tag-cnt {
    margin-left: 5px;
    color: #9a9a9a;
}
body.nightMode .siac-tag-cnt {
    color: grey;
}

.deck-list-item:hover > .siac-tag-cnt {
    color: #b3b3b3;
}