#siac-epub-display {
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
}
#siac-pdf-overflow.epub {
    background-color: white;
}
.epub-container {
    margin-left: auto;
    margin-right: auto;
}
.epub-container, .epub-view {
    /* width: 100% !important; */
}
.epub-view > iframe {
    /* width: 100% !important; */
}