/* Modal */
#greyout {
    display: none;
    position: absolute;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modal {
    display: none;
    position: absolute;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }

  .modal-content {
    background: var(--c-modal-background);
    color: var(--c-modal-foreground);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    width: 80%;
    max-height: 80%;
    border: 4px outset var(--c-modal-border);
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
#modalText {
    color: var(--c-modal-foreground);
    flex: 1 1 auto;
    overflow-y: auto;
    padding-right: 10px;
}
#modal-subpage {
    display:none;
    color: var(--c-modal-foreground);
    flex: 1 1 auto;
    flex-direction: column;
    overflow: hidden;
}
#modal-subpage-inner {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}
.modal-close {
    cursor: pointer;
    user-select: none;
    font-weight: bold;
}
.modal-close:hover {
    border-color: var(--c-button-border-hover);
}


