#siac-notes-sidebar {
    flex: 0 230px;
    min-width: 230px;
    border: 3px outset lightseagreen;
    border-radius: 5px;
    padding: 10px;
}
.siac-notes-sidebar-item {
    font-weight: bold;
    user-select: none;
    margin-bottom: 2px;
    border: 1px solid transparent;
    transition: margin 0.15s ease;
}
.siac-notes-sidebar-item:hover {
    /* border-left: 5px solid lightseagreen; */
    padding-left: 5px;
    margin-left: 5px;
    border: 1px solid grey;
    border-radius: 3px;
    /* transform: scale(1.05); */
}
body.nightMode .siac-notes-sidebar-item:hover {
    border: 1px solid #6b6b6b;
    background: #383838;
}
.siac-sidebar-inp {
    background: var(--c-input-background);
    color: var(--c-input-foreground);
}
#siac-sidebar-selected {
    text-align: center;
    font-weight: bold;
}