.cal-block-outer {
    height: 100%;
    box-sizing: content-box;
    height: 8px;
    cursor: pointer;
    display: inline-block;
    width: calc(100% / 365);
}
.cal-block-outer:hover > .cal-block, .cal-block-outer:hover > .cal-block {
    background-color: var(--c-tag-background) !important;
}
.cal-block {
    position: relative;
    height: 100%;
    width: 100%;
}
.cal-block-outer .cal-block:empty {
    background: #ececec;
}
body.nightMode .cal-block-outer .cal-block:empty {
    background: #3e3e3e;
}
.cal-block-week {
    display: inline-block;
    cursor: pointer;
    width: 17px;
    height: 17px;
    font-size: 9px;
    font-weight: bold;
    background: #f1f1f1;
    margin-right: 3px; margin-left: 3px;
    text-align: center;
    vertical-align: middle;
    line-height: 17px;
    color: black;
    user-select: none;
    border-radius: 2px;
}
body.nightMode .cal-block-week {
    background: white;
    color: black;
}
.cal-block-week:hover {
    transform: scale(1.15);
}
.cal-lg {
    height: 24px;
    width: 24px;
    line-height: 24px;
}
.cal-one {
    background: #c6e48b !important;
}
.cal-two {
    background: #7bc96f !important;
}
.cal-three {
   background: #196127 !important;
}
.cal-block-week.cal-three {
    color: white;
}
.cal-today {
    background: #2496dc !important;
}
#cal-info {
    position:absolute;
    left: 0px;
    box-sizing: content-box;
    display: none;
    z-index: 1000;
    width: 300px;
    height: 250px;
    padding: 5px;
    background: white;
    color: #2b2b30;
    border-radius: 3px;
    box-shadow: 0 0 7px 1px #202020;
    /* border: 2px outset var(--c-timeline-border); */
}
body.nightMode #cal-info {
    background: #2b2b30;
    color: white;
}
#cal-info:after {
    content: " ";
    position: absolute;
    top: 100%;
    left: var(--tleft);
    margin-left: -8px;
    border-width: 8px;
    border-style: solid;
    border-color: white transparent transparent transparent;
}
body.nightMode #cal-info:after {
    border-color: #2b2b30 transparent transparent transparent;
}
body.nightMode #cal-info ::-webkit-scrollbar {
    width: 10px !important;
    background: #313d45 !important;
    border-radius: 4px !important;
}
body.nightMode #cal-info ::-webkit-scrollbar-thumb {
    background: #515d71 !important;
    border-radius: 4px !important;
} 
#cal-info-notes {
    box-sizing: content-box;
}