<div class='siac-col' style='width: {rightSideWidth}%; flex-grow: 1;' id='siac-right-side' onmousedown="document.getElementById('tmp_inp').focus(); document.getElementById('tmp_inp').blur()">
    <div id='siac-second-col-wrapper'>
        <div id="greyout"></div>
        <div id='siac-search-modal'>
            <div id='siac-search-modal-wrapper'>
                <div id='siac-search-modal-header'></div>
                <input type='text' id='siac-search-modal-inp' />
                <div class='ta_center mt-10'>
                    <span id='siac-search-modal-close' class='siac-btn-small pl-5 pr-5'
                        onclick='document.getElementById("siac-search-modal").style.display = "none";'>Close</span>
                </div>
            </div>
        </div>
        <div id="topContainer">
                <div>
                    <div id='siac-switch-deck-btn' class='siac-btn-small siac-top-row-btn ta_center'
                        onmouseleave='$(this).removeClass("expanded")'
                        style='display: inline-block; position: relative; width: 240px; box-sizing: border-box;'>
                        <div class='siac-switch-deck-btn-inner' onclick="pycmd('siac-fill-deck-select')"><b>Decks</b>
                        </div>
                        <div class='siac-switch-deck-btn-inner right' onclick="pycmd('siac-fill-tag-select')">
                            <b>Tags</b>
                        </div>
                        <div class='siac-btn-small-dropdown click' style='width: 380px;'>
                            <div id='deckSelWrapper' class='ml-5 mr-5 mt-5 mb-5'>
                                <div id='deck-sel-info-lbl' style='flex: 0 1 auto; margin: 5px 0 4px 5px;'><b
                                        style='opacity: 0.7;'>[Only selected
                                        decks are used when searching.]</b></div>
                                <div id='siac-deck-sel-btn-wrapper' class='mb-5 ml-5'
                                    style='flex: 0 1 auto; margin-top: 3px; white-space: nowrap; font-size: 0;'>
                                    <div class='deck-list-button' onclick='selectAllDecks(); event.stopPropagation();'>
                                        All
                                    </div>
                                    <div class='deck-list-button'
                                        onclick='unselectAllDecks(); event.stopPropagation();'>
                                        None</div>
                                    <div class='deck-list-button'
                                        onclick="pycmd('siac-decks-select-current'); event.stopPropagation();">Current
                                    </div>
                                    <div class='deck-list-button'
                                        onclick="pycmd('siac-decks-select-current-and-subdecks'); event.stopPropagation();">
                                        Current and Subdecks</div>
                                </div>
                                <div class='oflow_y_auto mb-10 mr-10 mt-5' style='flex: 1 1 auto; padding-right: 10px;'>
                                    <table id='deckSel'></table>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div id='siac-timetable-icn' class='ml-10 siac-btn-small siac-top-row-btn' onclick='$(this).toggleClass("expanded")'
                        onmouseleave='$(this).removeClass("expanded")'
                        style='position: relative; display:inline-block;'
                        onmouseenter='pycmd("siac-user-note-update-btns")' onclick='pycmd("siac-create-note");'>
                        <b>&nbsp;&nbsp;&nbsp; &#9998; Notes &nbsp;&nbsp;&nbsp;</b>
                        <div class='siac-btn-small-dropdown click'>
                            <div class='siac-dropdown-item w-100'
                                onclick='pycmd("siac-create-note"); event.stopPropagation();'>&nbsp;<b><i class='fa fa-plus mr-5'></i>New</b></div>
                            <div class='siac-dropdown-item w-100'
                                onclick='pycmd("siac-r-user-note-newest"); event.stopPropagation();'>&nbsp;Newest</div>
                            <div class='siac-dropdown-item w-100'
                                onclick='pycmd("siac-r-user-note-random"); event.stopPropagation();'>&nbsp;Random</div>
                            <div class='siac-dropdown-item w-100'
                                onclick='pycmd("siac-user-note-search"); event.stopPropagation();'>&nbsp;Search ...
                            </div>
                            <hr>
                            <div class='siac-dropdown-item w-100'
                                onclick='pycmd("siac-r-user-note-queue"); event.stopPropagation();' id='siac-queue-btn'>
                                &nbsp;<b>Queue</b></div>
                            <div class='siac-dropdown-item w-100'
                                onclick='pycmd("siac-user-note-queue-read-head"); event.stopPropagation();'>
                                &nbsp;<b>Read
                                    Next</b></div>
                            <div class='siac-dropdown-item w-100'
                                onclick='pycmd("siac-user-note-queue-read-random"); event.stopPropagation();'>&nbsp;Read
                                [Rnd]</div>
                            <div class='siac-dropdown-item w-100'
                                onclick='pycmd("siac-url-dialog"); event.stopPropagation();'>&nbsp;Url to PDF</div>
                            <div class='siac-dropdown-item w-100'
                                onclick='pycmd("siac-user-note-queue-picker"); event.stopPropagation();'>&nbsp;Queue
                                Man.
                            </div>
                            <div class='siac-dropdown-item w-100'
                                onclick='pycmd("siac-zotero-import"); event.stopPropagation();'>&nbsp;Zotero Imp.</div>
                            <div class='siac-dropdown-item w-100'
                                onclick='pycmd("siac-r-user-note-queue-random"); event.stopPropagation();'>&nbsp;List
                                [Rnd]
                            </div>
                        </div>
                    </div>
                    <div id='siac-settings-icn' class='siac-btn-small siac-top-row-btn ml-10 ta_center'
                        onclick='$(this).toggleClass("expanded")' onmouseleave='$(this).removeClass("expanded")'
                        style='position: relative; display:inline-block; min-width: 140px;'><b>&nbsp; Settings & Info
                            &nbsp;</b>
                        <div class='siac-btn-small-dropdown click' onclick='event.stopPropagation();'>
                            <table class='w-100'>
                                <tr>
                                    <td class='tbLb'><label class='blue-hover' for='selectionCb'>Search on
                                            Selection</label>
                                    </td>
                                    <td><input type='checkbox' id='selectionCb' checked
                                            onchange='SIAC.State.searchOnSelection = $(this).is(":checked"); sendSearchOnSelection();' />
                                    </td>
                                </tr>
                                <tr>
                                    <td class='tbLb'><label class='blue-hover' for='typingCb'>Search on Typing</label>
                                    </td>
                                    <td><input type='checkbox' id='typingCb' checked
                                            onchange='setSearchOnTyping($(this).is(":checked"));' /></td>
                                </tr>
                                <tr>
                                    <td class='tbLb'><label
                                            for='highlightCb'><mark>&nbsp;Highlighting&nbsp;</mark></label>
                                    </td>
                                    <td><input id="highlightCb" type='checkbox' checked
                                            onchange='setHighlighting(this)' />
                                    </td>
                                </tr>
                                <tr>
                                    <td class='tbLb'><label class='blue-hover' for='gridCb'>Grid</label></td>
                                    <td><input type='checkbox' id='gridCb' onchange='toggleGrid(this)' /></td>
                                </tr>
                            </table>
                            <span>Note Scale</span>
                            <hr>
                            <input type='range' min='0.5' max='1.5' step='0.1' value='{noteScale}'
                                list='siac-scale-tickmarks' onfocusout='pycmd("siac-scale " + this.value)' />
                            <datalist id="siac-scale-tickmarks">
                                <option value="0.5" label="0.5"></option>
                                <option value="0.6"></option>
                                <option value="0.7"></option>
                                <option value="0.8"></option>
                                <option value="0.9"></option>
                                <option value="1.0" label="1.0"></option>
                                <option value="1.1"></option>
                                <option value="1.2"></option>
                                <option value="1.3"></option>
                                <option value="1.4"></option>
                                <option value="1.5" label="1.5"></option>
                            </datalist>
                            <br>
                            <span>Fields - Add-on</span>
                            <hr>
                            <input id='siac-partition-slider' type='range' min='0' max='100' step='1'
                                value='{leftSideWidthInPercent}'
                                onchange='pycmd("siac-left-side-width " + this.value)' />
                            <br>
                            <span>Menus</span>
                            <hr>
                            <div class='siac-dropdown-item w-100' onclick='$("#siac-settings-icn").removeClass("expanded");pycmd("siac-index-info");'>&nbsp;Info</div>
                            <div class='siac-dropdown-item w-100' onclick='pycmd("siac-r-show-tips");'>&nbsp;Tips</div>
                            <div class='siac-dropdown-item w-100' onclick='$("#siac-settings-icn").removeClass("expanded");pycmd("siac-synonyms");'>&nbsp;Synonyms</div>
                            <div class='siac-dropdown-item w-100' onclick='$("#siac-settings-icn").removeClass("expanded");pycmd("siac-styling");'>&nbsp;Settings</div>
                            <div class='siac-dropdown-item w-100'
                                onclick='$("#siac-modal").hide(); pycmd("siac_rebuild_index")'>&nbsp;Rebuild Index</div>
                        </div>
                    </div>
                </div>
                <div class="flex-row" style="align-items: stretch">
                    <div id="icns-large" class="mr-10">

                        <div class='rnd-icon' title='Read First in Queue' onclick='pycmd("siac-user-note-queue-read-head")'><i
                                class="fa fa-inbox"></i></div>
                        <div class='rnd-icon' title='PDF Notes' onclick='pycmd("siac-r-show-pdfs")'> <i
                                class="fa fa-file-pdf-o"></i></div>
                        <div class='rnd-icon' title='Text Notes' onclick='pycmd("siac-r-show-text-notes")'> <i
                                class="fa fa-file-text-o"></i></div>
                        <div class='rnd-icon' title='Video Notes' onclick='pycmd("siac-r-show-video-notes")'> <i
                                class="fa fa-file-video-o"></i></div>
                        <div class='rnd-icon' title='Toggle Sidebar' onclick='toggleNoteSidebar();'><i class="fa fa-bars"></i></div>
                        <div class='rnd-icon' title='Search for fields content' onclick='fieldsBtnClicked()'><i class="fa fa-search"></i></div>
                        <div class='rnd-icon' title='Random Anki Notes'
                            onclick='pycmd("siac-r-random-notes " + SIAC.State.selectedDecks.toString())'><i
                                class="fa fa-random"></i></div>
                        <div class='freeze-icon' title='Freeze results' onclick='toggleFreeze(this)'><i class="fa fa-snowflake-o"></i></div>
                        <div class='rnd-icon' onclick='switchLeftRight();' title='Switch Layout'><i class="fa fa-arrows-h"></i></div>
                    </div>
                    <div class='siac-tomato-main'>
                        <div class='siac-sidebar-bg'>
                            <span class='siac-timer-btn 5 siac-btn-small' onclick='resetTimer(this)'>5</span>
                            <span class='siac-timer-btn 10 siac-btn-small' onclick='resetTimer(this)'>10</span>
                            <span class='siac-timer-btn 15 siac-btn-small' onclick='resetTimer(this)'>15</span>
                            <span class='siac-timer-btn 25 siac-btn-small' onclick='resetTimer(this)'>25</span>
                            <span class='siac-reading-modal-timer siac-reading-modal-timer-lbl bold'>30 : 00</span>
                            <span class='siac-timer-btn 30 siac-btn-small default active'
                                onclick='resetTimer(this)'>30</span>
                            <span class='siac-timer-btn 45 siac-btn-small' onclick='resetTimer(this)'>45</span>
                            <span class='siac-timer-btn 60 siac-btn-small' onclick='resetTimer(this)'>60</span>
                        </div>
                        <div class='siac-sidebar-bg'>
                            <span class='siac-timer-play-btn siac-btn-small inactive' onclick='toggleTimer();'><i
                                    class='fa fa-play mr-5'></i></span>
                        </div>
                    </div>
                </div>
        </div>
      
        <div id="resultsArea">
            <div id='loader' style='{showLoader}'>
                <div class='signal'></div>
                <br><span class='siac-caps' style='font-size: 15px; margin-top: 20px; opacity: 0.8;'>Preparing
                    index...</span>
            </div>
            <div id='resultsWrapper'>
                <div class='flex-col' style='flex: 1 1 auto;'>
                    <div id='siac-results-header-wrapper'></div>
                    <div id='searchResults'></div>
                </div>
                <div id='searchInfo' style='display: none;' class='{sidebarHidden}'></div>
            </div>
        </div>
        <div id='bottomContainer' class="siac-card" style='display: block;'>
            <div id='siac-pagination' class="pb-0">
                <div id='siac-pagination-status'></div>
                <div id='siac-pagination-wrapper'>&nbsp;</div>
                <div id='siac-cache-displ'></div>
            </div>
            <div style='position: relative;' id='cal-wrapper'>
                {calendar}
            </div>
            <div class="flexContainer siac-note-divider-top">
                <div id="sortCol" style="flex: 0 0 auto;" class="p-10">
                    <div class="siac-text-muted">Sorting & Filtering</div>
                    <div class='siac-table-container' style='height: 20px;'>
                        <div class='siac-table-cell'>
                            <select id='sortSelect' class='h-100'>
                                <option value='newest' selected='true'>Sort By Newest</option>
                                <option value='oldest' selected='true'>Sort By Oldest</option>
                                <option value='remUntagged'>Remove Untagged</option>
                                <option value='remTagged'>Remove Tagged</option>
                                <option value='remUnreviewed'>Remove Unreviewed</option>
                                <option value='remReviewed'>Remove Reviewed</option>
                                <option value='remSuspended'>Remove Suspended</option>
                                <option value='remUnsuspended'>Remove Unsuspended</option>
                            </select>
                        </div>
                        <div class='siac-table-cell'>
                            <div class='siac-table-cell-btn ml-5' onclick='sort();' title='{shortcutFilter}'>GO
                            </div>
                        </div>
                    </div>
                </div>

                <div id="searchMaskCol" style="flex: 1 1 auto;" class="p-10 flex-col">
                    <div id="siac-search-inp-mode-lbl" onclick='toggleSearchbarMode(this);'>Mode: {searchbarMode}</div>
                    <div class="flex-1 flex-row flex-center">
                        <span class='siac-search-icn' style='width: 16px; height: 16px; background-size: 16px 16px;'></span>
                        <input id='siac-browser-search-inp' class="flex-1" placeholder='Search...' onkeyup='searchMaskKeypress(event)'></input>
                    </div>
               </div>

                <div id="predefCol" style="flex: 0 0 auto;" class="p-10">
                    <div class="siac-text-muted">Predefined Searches</div>
                    <div class='siac-table-container' style='height: 20px;'>
                        <div class='siac-table-cell'>
                            <select id='predefSearchSelect' class='h-100'>
                                <option value='lastAdded' selected='true'>Last Added</option>
                                <option value='firstAdded'>First Added</option>
                                <option value='lastModified'>Last Modified</option>
                                <option value='lastReviewed'>Last Reviewed</option>
                                <option value='lastLapses'>Last Lapses</option>
                                <option value='highestPerf'>Performance (desc.)</option>
                                <option value='lowestPerf'>Performance (asc.)</option>
                                <option value='highestRet'>Pass Rate (desc.)</option>
                                <option value='lowestRet'>Pass Rate (asc.)</option>
                                <option value='longestTime'>Time Taken (desc.)</option>
                                <option value='shortestTime'>Time Taken (asc.)</option>
                                <option value='highestInterval'>Interval (desc.)</option>
                                <option value='lowestInterval'>Interval (asc.)</option>
                                <option value='longestText'>Longest HTML</option>
                                <option value='lastUntagged'>Newest Untagged</option>
                                <option value='randomUntagged'>Random Untagged</option>
                            </select>
                        </div>
                        <div class='siac-table-cell'>
                            <select id='predefSearchNumberSel' class='h-100'>
                                <option value='10'>10</option>
                                <option value='50' selected='true'>50</option>
                                <option value='100'>100</option>
                                <option value='200'>200</option>
                                <option value='500'>500</option>
                            </select>
                        </div>
                        <div class='siac-table-cell'>
                            <div class='siac-table-cell-btn' onclick='predefSearch();' title='{shortcutPredef}'>
                                GO</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id='cal-info'  onmouseleave='calMouseLeave()'></div>
        <div id='siac-reading-modal'></div>
        <input id="tmp_inp" style="height: 0; border: 0; padding: 0;"/>
    </div>
</div>