<div class='w-100 flex-col'>
    <div id='siac-reading-modal-top-btns'>
        <div class='siac-btn siac-btn-dark' style='background-image: url("{img_folder}switch_layout.png");' onclick='switchLeftRight();'></div>
        <div class='siac-btn siac-btn-dark' style='background-image: url("{img_folder}fullscreen.png");' onclick='toggleReadingModalFullscreen();'></div>
        <div class='siac-btn siac-btn-dark' style='background-image: url("{img_folder}partition.png");' onclick='pycmd("siac-left-side-width");'></div>
        <div class='siac-btn siac-btn-dark' style='background-image: url("{img_folder}toggle_bars.png");' onclick='toggleReadingModalBars();'></div>
        <div class='siac-btn siac-btn-dark' style='background-image: url("{img_folder}close.png");' onclick='onReadingModalClose({note_id});'></div>
    </div>

    <div id='siac-pdf-tooltip' onclick='event.stopPropagation();' onkeyup='event.stopPropagation();'>
        <div id='siac-pdf-tooltip-top'></div>
        <div id='siac-pdf-tooltip-results-area' onkeyup="pdfTooltipClozeKeyup(event);"></div>
        <div id='siac-pdf-tooltip-bottom'></div>
        <input id='siac-pdf-tooltip-searchbar' onkeyup='if (event.keyCode === 13) {pycmd("siac-pdf-tooltip-search " + this.value);}'></input>
    </div>
    <div id='siac-reading-modal-top-bar' data-nid='{note_id}'>
        <div style='flex: 1 1; overflow: hidden;'>
            <h2 id='siac-rm-title' class='oflow_hidden' style='margin: 0 0 5px 0; white-space: nowrap; vertical-align:middle;'>{title}</h2>
            <h4 class='fg_lightgrey' style='white-space: nowrap; margin: 5px 0 6px 0;'>Source: <i>{source}</i></h4>
            <div id='siac-prog-bar-wr'></div>
        </div>
        <div style='flex: 0 0; min-width: 130px; padding: 0 120px 0 10px;'>
            <span class='siac-timer-btn' onclick='resetTimer(this)'>5</span><span class='siac-timer-btn' onclick='resetTimer(this)'>10</span><span class='siac-timer-btn' onclick='resetTimer(this)'>15</span><span class='siac-timer-btn' onclick='resetTimer(this)'>25</span><span class='siac-timer-btn active' onclick='resetTimer(this)'>30</span><br>
            <span id='siac-reading-modal-timer'>30 : 00</span><br>
            <span class='siac-timer-btn' onclick='resetTimer(this)'>45</span><span class='siac-timer-btn' onclick='resetTimer(this)'>60</span><span class='siac-timer-btn' onclick='resetTimer(this)'>90</span><span id='siac-timer-play-btn' class='inactive' onclick='toggleTimer(this);'>Start</span>
        
        </div>
        <div id='siac-reading-modal-change-theme'>
            <a class='siac-link-btn' onclick='pycmd("siac-zoom-out")'><i class='fa fa-search-minus'></i></a>&nbsp;
            <a class='siac-link-btn' onclick='pycmd("siac-zoom-in")' style='margin-right: 15px;'><i class='fa fa-search-plus'></i></a>
            <a class='siac-link-btn' onclick='pycmd("siac-eval index.ui.reading_modal.show_theme_dialog()")'><i class="fa fa-cogs"></i>&nbsp; Theme</a>
        </div>
        
    </div>
    <div id='siac-reading-modal-center' class='flex-col' style='flex: 1 1 auto; overflow: {overflow}; font-size: 13px; padding: 0 5px 0 24px; position: relative;' >
        <div id='siac-rm-greyout'></div>
        {text}
        {rev_overlay}
    </div>
    <div id='siac-reading-modal-bottom-bar'>
        <div class='w-100' style='height: calc(100% - 5px); display: inline-block; padding-top: 5px; white-space: nowrap;'>
            <div style='padding: 5px; display: inline-block; vertical-align: top;'><div class='siac-queue-sched-btn active' onclick='{sched_click}'>{queue_info_short}</div></div>
            {schedule_btns}
            <div id='siac-queue-actions'>
                <span style='vertical-align: top;' id='siac-queue-lbl'>{queue_info}</span><br>
                <span class='fg_lightgrey mt-5'>{time_str}</span> <br>
                <div style='margin: 7px 0 4px 0; display: inline-block;'>Actions: &nbsp;&nbsp;<i class="fa fa-folder-o cursor-pointer siac-icn-hover siac-pdf-main-color" onclick='if (pdfLoading||noteLoading||pdfSearchOngoing) {return;}pycmd("siac-user-note-queue-picker {note_id}")'></i>{schedule_dialog_btn}</div><br>
                <a onclick='if (!pdfLoading && !modalShown) { noteLoading = true; greyoutBottom(); destroyPDF(); pycmd("{queue_btn_action}");}' class='siac-link-btn bold' style='font-size: 16px;' id='siac-first-in-queue-btn'>{queue_btn_text}</a>
                {delay_btn}<br>
                <a onclick='if (!pdfLoading && !modalShown) { noteLoading = true; greyoutBottom(); destroyPDF(); pycmd("siac-user-note-queue-read-random");}' class='siac-link-btn'>Random</a><span style='color: grey; user-select: none;'>&nbsp;|&nbsp;</span>
                <a onclick='if (!pdfLoading && !modalShown) { modalShown = true; greyoutBottom(); pycmd("siac-eval index.ui.reading_modal.show_remove_dialog()");}' class='siac-link-btn'>Remove</a>
            </div>
            {queue_readings_list}
            <div id='siac-queue-infobox-wrapper'>
                <div id='siac-queue-infobox' onmouseleave='leaveQueueItem();'></div>
            </div>
            <div id='siac-pdf-bottom-tabs' style='display: inline-block; vertical-align: top; margin-left: 16px; user-select: none;'>
                <a class='siac-link-btn tab mr-10 active' onclick='pycmd("siac-pdf-show-bottom-tab {note_id} marks")'><i class='fa fa-star-o mr-5'></i>Marks</a>
                <a class='siac-link-btn tab mr-10' onclick='pycmd("siac-pdf-show-bottom-tab {note_id} related")'>Related</a>
                <a class='siac-link-btn tab mr-10' onclick='pycmd("siac-pdf-show-bottom-tab {note_id} info")'>Info</a>
                <a class='siac-link-btn {hide_page_map} tab' onclick='pycmd("siac-pdf-show-bottom-tab {note_id} pages")'>Pages</a><br>
                <div id='siac-pdf-bottom-tab'>
                    <div id='siac-marks-display' onclick='markClicked(event);'></div>
                </div>
            </div>
        </div>
    </div>
    <div id='siac-timer-popup'>
    </div>
</div>
<script>
    destroyPDF();
    pageSidebarDisplayed = {page_sidebar};
    bottomBarTabDisplayed = 'marks';
    if (readingTimer != null)  {
        $('#siac-timer-play-btn').html('Pause').removeClass('inactive');
    } else if (remainingSeconds !== 1800) {
        document.getElementById("siac-reading-modal-timer").innerHTML = Math.floor(remainingSeconds / 60) + " : " + (remainingSeconds % 60 < 10 ? "0" + remainingSeconds % 60 : remainingSeconds % 60);
    }
    if (pdfFullscreen) {
        activateReadingModalFullscreen();
    } else if (pdfBarsHidden) {
        pdfBarsHidden = false;
        toggleReadingModalBars();
    }
    if (pageSidebarDisplayed) {
        pageSidebarDisplayed = false;
        togglePageSidebar(false);
    }
    {notification}
    iframeIsDisplayed = false;
    noteLoading = false;
    modalShown = false;
</script>