{title}
<div class='siac-pdf-main-color-border-bottom siac-pdf-main-color-border-top cursor-pointer' style='text-align: left; user-select: none; margin: 10px 0 10px 0; padding: 15px;'>

    <label class='blue-hover' for='siac-rb-4'>
        <input id='siac-rb-4' type='radio' data-pycmd='4' checked name='sched'>
        <span>Show again in [n] days:</span>
    </label><br>
    <div class='w-100' style='margin: 10px 0 10px 0;'>
        <input id='siac-sched-td-inp' type='number' min='1' class='fg_lightgrey' style='width: 70px; border: 2px outset #b2b2a0; background: transparent;'/>
        <div class='siac-btn siac-btn-dark' style='margin-left: 15px;' onclick='document.getElementById("siac-sched-td-inp").value = 1;'>Tomorrow</div>
        <div class='siac-btn siac-btn-dark' style='margin-left: 5px;' onclick='document.getElementById("siac-sched-td-inp").value = 7;'>In 7 Days</div>
    </div>
    <label class='blue-hover' for='siac-rb-5'>
        <input id='siac-rb-5' type='radio'  data-pycmd='5' name='sched'>
        <span>Show on Weekday(s):</span>
    </label><br>
    <div class='w-100' style='margin: 10px 0 10px 0;' id='siac-sched-wd'>
        <label><input type='checkbox' style='vertical-align: middle;'/>M</label>
        <label style='margin: 0 0 0 4px;'><input style='vertical-align: middle;' type='checkbox'/>T</label>
        <label style='margin: 0 0 0 4px;'><input style='vertical-align: middle;' type='checkbox'/>W</label>
        <label style='margin: 0 0 0 4px;'><input style='vertical-align: middle;' type='checkbox'/>T</label>
        <label style='margin: 0 0 0 4px;'><input style='vertical-align: middle;' type='checkbox'/>F</label>
        <label style='margin: 0 0 0 4px;'><input style='vertical-align: middle;' type='checkbox'/>S</label>
        <label style='margin: 0 0 0 4px;'><input style='vertical-align: middle;' type='checkbox'/>S</label>
    </div>

    <label class='blue-hover' for='siac-rb-6'>
        <input id='siac-rb-6' type='radio'  data-pycmd='6' name='sched'>
        <span>Show every [n]th Day</span>
    </label><br>
    <div class='w-100' style='margin: 10px 0 10px 0;'>
        <input id='siac-sched-id-inp' class='fg_lightgrey' type='number' min='1' style='width: 70px; border: 2px outset #b2b2a0; background: transparent;'/>
    </div>

</div>
<div style='text-align: left;'>
    {back_btn}
    <div class='siac-btn siac-btn-dark' style='float: right;' onclick='updateSchedule()'>Set Schedule</div>
</div>