<div id='siac-notes-sidebar'>
    <div class='h-100 flex-col'>
        <div style='flex: 0 1 auto;'>
            <div class='siac-btn-small' style='position: relative; float: right; min-width: 90px;' onclick='$(this).toggleClass("expanded")' onmouseleave='$(this).removeClass("expanded")'>
                <div id='siac-sidebar-selected' class='blue-hover'>{tab_displayed_name}</div>
                <div class='siac-btn-small-dropdown click ta_center' style='z-index: 3;' onclick='event.stopPropagation();'>
                    <div class='blue-hover w-100' style='margin: 2px 0 2px 0;' onclick='pycmd("siac-sidebar-show-notes-tab")'>
                        <b>Add-on Notes</b>
                    </div>
                    <div class='blue-hover w-100' style='margin: 2px 0 2px 0;' onclick='pycmd("siac-sidebar-show-special-tab")'>
                        <b>Anki Notes</b><br>
                    </div>
                    <div class='blue-hover w-100' style='margin: 2px 0 2px 0;' onclick='pycmd("siac-sidebar-show-import-tab")'>
                        <b>PDF Import</b><br>
                    </div>
                </div>
            </div>
        </div>
        {tab_html}
    </div>
</div>