<div class='flex-col h-100' style='justify-content: space-between; flex: 1 0 auto;'>
    <div class='flex-col oflow_hidden'>
        <div class='mb-10'>
            <b>Synonym sets</b>
            <hr class='siac-modal-sep' />
            No synonyms defined yet. Input a set of terms, separated by ',' and hit enter.<br>
            If a search is triggered that at least contains one word from a synonym set, all the other words in the set will be inserted in the search query too. 
        </div>
        
    </div>
    <div>
        <span>Input a set of terms, separated by ',' and hit enter.</span>
        <input type='text' id='siac-syn-inp'  placeholder='e.g. "srs, spaced repetition"' onkeyup='synInputKeyup(event, this)' />
    </div>

</div>