<div style='margin: 0 0 10px 0;'>
    <div class='ta_center bold' style='vertical-align: middle; line-height: 50px; font-size: 40px; color: #2496dc;'>
        &#10711;
    </div>
    <div class='ta_center bold' style='vertical-align: middle; line-height: 50px; font-size: 20px;'>
        Time is up!
    </div>
</div>
<div class='ta_center fg_lightgrey' style='margin: 10px 0 25px 0;'>
    Read <b>{pages_read}</b> {pages} today.<br>
    Added <b>{cards_added}</b> {cards} today.
</div>
<div class='ta_center' style='margin-bottom: 8px;'>
    Start:
</div>
<div class='ta_center'>
    <div class='siac-btn siac-btn-dark mr-5 ml-5' onclick='this.parentNode.parentNode.style.display="none"; startTimer(5);'>&nbsp;5m&nbsp;</div>
    <div class='siac-btn siac-btn-dark mr-5 ml-5' onclick='this.parentNode.parentNode.style.display="none"; startTimer(15);'>&nbsp;15m&nbsp;</div>
    <div class='siac-btn siac-btn-dark mr-5 ml-5' onclick='this.parentNode.parentNode.style.display="none"; startTimer(30);'>&nbsp;30m&nbsp;</div>
    <div class='siac-btn siac-btn-dark mr-5 ml-5' onclick='this.parentNode.parentNode.style.display="none"; startTimer(60);'>&nbsp;60m&nbsp;</div>
</div>
<div class='ta_center' style='margin-top: 20px;'>
    <div class='siac-btn siac-btn-dark' onclick='this.parentNode.parentNode.style.display="none";'>Don't Start</div>
</div>