<div class='siac-note-outer'>
    <div class='w-100 flex-row siac-note-header'>
        <span style='font-size: 12px;'>
            <span id='siac-cnt-dsp-{nid}'>{counter}</span>
        </span>
        <div class='flex-row'>
            <div onclick='edit({nid})' class='ml-10 turquoise-hover cursor-pointer'><i class="fa fa-pencil"></i></div>
        </div>
    </div>
    <div class='siac-inner-card' id='siac-inner-card-{nid}' style='padding: 15px;' onmouseup='{mouseup}'>
        {text}
    </div>
    <div class='siac-note-footer'>
        <div class='flex-row' style='align-items: center;'>
            <i class='fa fa-info turquoise-hover cursor-pointer ml-5' onclick='expandCard({nid}, this)' style='font-size: 17px;'></i>
            {ret}
        </div>    
        <div class='siac-note-tags-container'>
            {tags}
        </div>
    </div>
</div>