<div class='siac-note-outer siac-user-note'>
    <div class='w-100 flex-row siac-note-header'>
        <span style='font-size: 12px;'>
            <span id='siac-cnt-dsp-{nid}' class='siac-cnt-dsp'>{counter}</span>
            <span class='siac-note-lbl'>{title}</span>
        </span>
        <div class='flex-row siac-note-btns'>
            <div onclick='pycmd("siac-edit-user-note {nid}")' class='ml-10 turquoise-hover cursor-pointer'><i class="fa fa-pencil"></i></div>
        </div>
    </div>
    <div class='siac-inner-card' id='siac-inner-card-{nid}' style='padding: 15px;' onmouseup='{mouseup}'>{text}</div>
    <div class='siac-note-footer'>
        <div>
           
        </div>    
        <div class='siac-note-tags-container' id='tags-{nid}'>
            {tags}
        </div>
    </div>
</div>


