<div class='cardWrapper' style="display: block;">
    <div class='topLeftWr'>
        <div class='rankingLbl'>{counter}<div class='rankingLblAddInfo'>{creation}</div><div class='editedStamp'>{edited}</div></div>
        {ret}
    </div>
    <div class='btnBar' id='btnBarSmp-{nid}' onmouseLeave='pinMouseLeave(this)' onmouseenter='pinMouseEnter(this)'>
        <div class='editLbl' onclick='edit({nid})'><i class="fa fa-pencil"></i></div>
    </div>
    <div class='siac-inner-card' onmouseup='{mouseup}'  onmouseenter='cardMouseEnter(this, {nid}, "simple")' onmouseleave='cardMouseLeave(this, {nid}, "simple")'>{text}</div>
    <div style='position: absolute; bottom: 0px; right: 0px;'>{tags}</div>
    <div class='cardLeftBot' onclick='expandCard({nid}, this)'>&nbsp;&nbsp;<i class="fa fa-info"></i>&nbsp;&nbsp;</div>
</div>