<div class='siac-note-outer siac-user-note {pdf_class} {grid_class}' data-nid="{nid}" id='siac-note-wr-{nid}'>
    <div class='w-100 flex-row siac-note-header'>
        <span style='font-size: 12px;'>
            <span id='siac-cnt-dsp-{nid}'>{counter}</span>
            <span id='siac-pin-dsp-{nid}' class='hidden' onclick='pinCard({nid})'><i class='fa fa-thumb-tack'></i></span>
            <span class='siac-note-lbl' onmouseup='getSelectionText()'>{title}</span>
        </span>
        <div class='flex-row siac-note-btns'>
            <div onclick='pycmd("siac-delete-user-note-modal {nid}");' class='red-hover cursor-pointer'><i class='fa fa-trash'></i></div>
            <div onclick='pycmd("siac-edit-user-note {nid}")' class='ml-10 turquoise-hover cursor-pointer'><i class="fa fa-pencil"></i></div>
            <div onclick='searchCard({nid})' class='ml-10 turquoise-hover cursor-pointer'><i class="fa fa-search"></i></div>
            <div id='pin-{nid}' onclick='pinCard({nid})'class='ml-10 turquoise-hover cursor-pointer'><i class="fa fa-thumb-tack"></i></div>
            {nid_btn}
            <div id='rem-{nid}' onclick='removeNote({nid})' class='ml-10 turquoise-hover cursor-pointer'><i class="fa fa-times"></i></div>
        </div>
    </div>
    <div class='siac-inner-card' id='siac-inner-card-{nid}' style='padding: 15px;' onmouseup='getSelectionText()'>{text}</div>
    <div class='siac-note-footer'>
        <div class='flex-row' style='align-items: center;'>
            <i class='fa fa-{icon} turquoise-hover cursor-pointer' onclick='pycmd("siac-read-user-note {nid}")' style='font-size: 17px;'></i>
            &nbsp;{progress}
        </div>    
        <div class='siac-note-tags-container' id='tags-{nid}'>
            {tags}
        </div>
    </div>
</div>