<div class='w-100 flex-col'>
   
    <div id='siac-reading-modal-top-btns' class='{top_hidden}'>
        <div id='siac-reading-modal-tomato-alt'>
                <span class='siac-timer-btn 5 siac-btn siac-btn-dark fg_grey' onclick='resetTimer(this)'>5</span>
                <span class='siac-timer-btn 10 siac-btn siac-btn-dark' onclick='resetTimer(this)'>10</span>
                <span class='siac-timer-btn 15 siac-btn siac-btn-dark' onclick='resetTimer(this)'>15</span>
                <span class='siac-timer-btn 25 siac-btn siac-btn-dark' onclick='resetTimer(this)'>25</span>
                <span class='siac-reading-modal-timer siac-reading-modal-timer-lbl ml-10 mr-10 bold'>30 : 00</span>
                <span class='siac-timer-btn 30 siac-btn siac-btn-dark default active' onclick='resetTimer(this)'>30</span>
                <span class='siac-timer-btn 45 siac-btn siac-btn-dark' onclick='resetTimer(this)'>45</span>
                <span class='siac-timer-btn 60 siac-btn siac-btn-dark' onclick='resetTimer(this)'>60</span>
                <span class='siac-timer-play-btn siac-btn siac-btn-dark inactive' style='min-width: 58px;' onclick='toggleTimer();'><i class='fa fa-play mr-5'></i>Start</span>
        </div>
        <div class='siac-btn siac-btn-dark' style='background-image: url("{img_folder}switch_layout.png");' onclick='switchLeftRight();'></div>
        <div class='siac-btn siac-btn-dark' style='background-image: url("{img_folder}fullscreen.png");' onclick='toggleReadingModalFullscreen();'></div>
        <div class='siac-btn siac-btn-dark' style='background-image: url("{img_folder}partition.png");' onclick='pycmd("siac-left-side-width");'></div>
        <div class='siac-btn siac-btn-dark' style='background-image: url("{img_folder}toggle_bars.png");' onclick='toggleTopBar();'></div>
        <div class='siac-btn siac-btn-dark' style='background-image: url("{img_folder}close.png");' onclick='onReadingModalClose({note_id});'></div>
    </div>

    <div id='siac-pdf-tooltip' onclick='event.stopPropagation();' onkeyup='event.stopPropagation();'>
        <div id='siac-pdf-tooltip-top'></div>
        <div id='siac-pdf-tooltip-results-area' onkeyup="pdfTooltipClozeKeyup(event);"></div>
        <div id='siac-pdf-tooltip-bottom'></div>
        <input id='siac-pdf-tooltip-searchbar' placeholder="Search" onkeyup='if (event.keyCode === 13) {pycmd("siac-pdf-tooltip-search " + this.value);}'></input>
    </div>
    <div id='siac-reading-modal-top-bar' class='{top_hidden}' data-nid='{note_id}'>
        <div style='flex: 1 1; overflow: hidden;'>
            <h2 id='siac-rm-title' class='oflow_hidden' style='margin: 0 0 5px 0; white-space: nowrap; vertical-align:middle;'>{title}</h2>
            <h4 class='fg_lightgrey' style='white-space: nowrap; margin: 5px 0 6px 0;'>Source: <i>{source}</i></h4>
            <div id='siac-prog-bar-wr'></div>
        </div>
        <div style='flex: 0 0; min-width: 130px; padding: 0 130px 0 10px;'>
            <span class='siac-timer-btn 5' onclick='resetTimer(this)'>5</span><span class='siac-timer-btn 10' onclick='resetTimer(this)'>10</span><span class='siac-timer-btn 15' onclick='resetTimer(this)'>15</span><span class='siac-timer-btn 25' onclick='resetTimer(this)'>25</span><span class='siac-timer-btn 30 default active' onclick='resetTimer(this)'>30</span><br>
            <span id='siac-reading-modal-timer' class='siac-reading-modal-timer-lbl'>30 : 00</span><br>
            <span class='siac-timer-btn 45' onclick='resetTimer(this)'>45</span><span class='siac-timer-btn 60' onclick='resetTimer(this)'>60</span><span class='siac-timer-play-btn inactive ml-5' onclick='toggleTimer();'><i class='fa fa-play mr-5'></i>Start</span>
        
        </div>
        <div id='siac-reading-modal-change-theme'>
            <a class='siac-link-btn' onclick='pycmd("siac-zoom-out")'><i class='fa fa-search-minus'></i></a>&nbsp;
            <a class='siac-link-btn' onclick='pycmd("siac-zoom-in")' style='margin-right: 15px;'><i class='fa fa-search-plus'></i></a>
            <a class='siac-link-btn' onclick='pycmd("siac-eval Reader.show_theme_dialog()")'><i class="fa fa-cogs"></i>&nbsp; Theme</a>
        </div>
        
    </div>
    <div id='siac-reading-modal-center' class='flex-col' style='flex: 1 1 auto; overflow: {overflow}; font-size: 13px; padding: 0 5px 0 30px; position: relative;' >
        <div id='siac-rm-greyout'></div>
        {text}
        {rev_overlay}
    </div>
    {bottom_bar}
    <div id='siac-timer-popup'>
    </div>
</div>
<script>
    destroyPDF();
    pageSidebarDisplayed = {page_sidebar};
    bottomBarTabDisplayed = 'marks';
    if (tomato.readingTimer != null)  {
        $('.siac-timer-play-btn').html('<i class="fa fa-pause mr-5"></i><b>Pause</b>').removeClass('inactive');
        setTimerActive(tomato.lastStart);
    } else {
        let rs = tomato.remainingSeconds;
        $('.siac-reading-modal-timer-lbl').html(Math.floor(rs / 60) + " : " + (rs % 60 < 10 ? "0" + rs % 60 : rs % 60));
        setTimerActive(tomato.lastStart);
    }
    if (pdfFullscreen) {
        activateReadingModalFullscreen();
    } 
    if (pageSidebarDisplayed) {
        pageSidebarDisplayed = false;
        togglePageSidebar(false);
    }
    {notification}
    iframeIsDisplayed = false;
    noteLoading = false;
    modalShown = false;
</script>