<div id='siac-iframe-btn' class='siac-btn siac-btn-dark' onclick='$(this).toggleClass("expanded")'><i class="fa fa-globe" aria-hidden="true"></i>
    <div class='fg_lightgrey ml-5 ta_right' style='margin-top: 4px; width: calc(100% - 35px); font-size: 13px;'>Note: Not all sites allow embedding!</div>
    <div class='w-100 oflow_y_auto' style='padding: 0 15px 10px 15px; margin-top: 10px; max-height: 500px; box-sizing: border-box;'>
        <input onclick="event.stopPropagation();" onkeyup="if (event.keyCode === 13) { pdfUrlSearch(this.value); this.value = ''; }"></input> 
        <br/>
    {search_sources}
    </div>
</div>
<div class='siac-btn siac-btn-dark' id='siac-quick-sched-btn' onclick='pycmd("siac-user-note-done")'><i class='fa fa-check'></i></div>
<div id='siac-close-iframe-btn' class='siac-btn siac-btn-dark fg_lightgrey' onclick='pycmd("siac-close-iframe")'><b>&times; &nbsp;CLOSE</b></div>
<div id='siac-text-top-wr' style='height: calc(100% - 42px);'>
    <div id='siac-text-top' style='position: relative;' class='ml-5'>
        <textarea class='w-100 h-100' spellcheck='false'>{text}</textarea>
        <div id='siac-pdf-br-notify'></div>
    </div>
    <div id='siac-page-sidebar'>
        <div class='flex-col h-100' style='justify-content: center;'>
            <div> 
                <div class='signal' style='margin-left: auto; margin-right: auto;'></div>
            </div>
        </div>
    </div>
</div>
<iframe id='siac-iframe' sandbox='allow-scripts' style='height: calc(100% - 47px);'></iframe>
<div class="siac-reading-modal-button-bar-wrapper">
    <div style='position: absolute; left: 0; z-index: 1; user-select: none;'>
        <div class='siac-btn siac-btn-dark' style="margin-left: -28px;" onclick='toggleBottomBar();'>&#x2195;</div>
        <div class='siac-btn siac-btn-dark ml-5' id='siac-rd-note-btn' onclick='pycmd("siac-create-note-add-only {nid}")'><b>&#9998; Note</b></div>
        <div class='siac-btn siac-btn-dark ml-5' id='siac-extract-text-btn' onclick='tryExtractTextFromTextNote()'>&nbsp;<i class="fa fa-clone"></i> &nbsp;<b>Copy to new Note</b></div>
        <div class='siac-btn siac-btn-dark ml-5' onclick='saveTextNote({nid}, remove=false)'><b>&nbsp;<i class="fa fa-floppy-o"></i> &nbsp;Save&nbsp;</b></div>
        <span id='siac-text-note-status' class='fg_grey' style='margin-left: 30px;'></span>
    </div>
    <div class='siac-btn siac-btn-dark' onclick='togglePageSidebar()' style='float: right;'><i class="fa fa-bars"></i></div>
</div>
<script>
    pdfLoading = false;
    pdf.notification.queue = [];
    if (topBarIsHidden()) {
        readerNotification("{title}");
    }
    pdf.displayedMarks = null;   
    pdf.displayedMarksTable = null;
    displayedNoteId = {nid};
    editorMDInit();
    noteLoading = false;
    if (pageSidebarDisplayed) {
        pycmd('siac-linked-to-page -1 -1');
    }
</script>