body.siac-reading-modal-displayed #siac-right-side {
    border-left: 0px solid #9dab86;
}
body.nightMode.siac-reading-modal-displayed #siac-right-side {
    border-left: 2px solid #9dab86;
}
#siac-reading-modal {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-image: var(--c-reading-modal-texture);
    background-color: var(--c-reading-modal-background);
    color: white;
    padding: 12px;
    padding-bottom: 6px;
    font-size: 12px;
    z-index: 2;
    border-radius: 5px;
    overflow: hidden;
    filter: var(--c-reading-modal-filter);
    background-size: var(--c-reading-modal-background-size);
}
.siac-rm-bg {
    background-color: var(--c-reading-modal-background);
}
#siac-reading-modal a:not(.siac-disabled) {
    color: #9dab86 !important;
}
#siac-reading-modal a.greyedout, #siac-reading-modal a.active {
    color: lightgray !important;
}
.siac-link-btn.tab.active {
    text-decoration: underline;
}
.siac-pdf-main-color {
    color: #9dab86;
}
.siac-rm-main-color-hover:hover {
    color: #9dab86;
    cursor: pointer;
}
.siac-modal-small.dark, #siac-reading-modal .siac-modal-small, .siac-pdf-contextmenu {
    border: 3px outset #9dab86;
    background: var(--c-reading-modal-background);
    color: white;
}
.siac-pdf-contextmenu {
    border-radius: 3px;
    padding: 5px;
}
#siac-pdf-canvas {
    display:inline-block;
}
#siac-pdf-canvas_1 {
    display:none;
}

#siac-cloze-btn {
    margin-bottom: 7px;
    text-align: center;
    color:#9dab86;
    cursor:pointer;
    font-weight: bold;
    user-select: none;
}
#siac-cloze-btn:hover {
    transform: scale(1.03);
    filter: brightness(1.4);
}
.siac-toc-btn {
    border: 2px outset #2496dc !important;
    color: lightgrey;
    padding: 3px 5px;
}
#siac-toc {
    display: none;
    margin: 20px 15px 0 10px;
    width: 280px;
    flex: 0 0 280px;
    border: 3px outset #9dab86;
    padding: 10px;
    background-color: var(--c-reading-modal-background);
    text-align: left;
    flex-direction: column;
}
#siac-toc ul {
    padding-left: 0px;
}
#siac-toc ul ul li .siac_toc_title {
    padding-left: 20px;
}
#siac-toc li div:first-child {
    display: flex;
    width: 100%;
}
#siac-toc li div div:first-child {
    flex: 0 1 40px;
    min-width: 40px;
    color: grey;
}
.siac-toc-item {
    color: lightgrey;
    font-weight: bold;
    list-style-type: none;
}
.siac-btn-small-dropdown-inverted {
    display: none;
    position: absolute;
    color: white;
    background-color: var(--c-reading-modal-background);
    width: 200px;
    padding: 0px 4px 0px 4px;
    height: 185px; 
    top: -164px;
    left: -181px;
    border: 2px outset #9dab86; 
    z-index: 5;
    transition: all 0.3s;
}
.siac-dropdown-inverted-item {
    margin: 3px 0 2px 0;
    text-align: left;
    width: 100%;
    color: #9dab86;
    text-align: center;
    height: 16px;
    font-size: 13px !important;
}
.siac-dropdown-inverted-item:hover {
    filter: brightness(1.4);
}
#siac-tt-web-btn {
    color:#9dab86;
    cursor:pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    height: 20px;
    width: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
}
#siac-tt-web-btn:hover {
    transform: scale(1.03);
    filter: brightness(1.4);
}
#siac-pdf-br-notify {
    display: none; 
    position: absolute; 
    z-index: 4; 
    bottom: 20px; 
    right: 30px; 
    border: 3px outset #9dab86; 
    border-radius: 3px; 
    color: lightgrey; 
    background: var(--c-reading-modal-background); 
    padding: 15px;
    text-align: left;
}
#siac-pdf-overlay {
    display: none;
    position: absolute;
    bottom: 35px;
    right: 0; left: 0;
    z-index: 4;
    user-select: none;
    background-color: #1c636d;
    border-radius: 7px;
    border: 4px double #08212f;
    padding: 2px 4px 4px 4px;
    width: 200px;
    text-align: center;
    color: beige;
    margin-left: auto;
    margin-right: auto;
    font-size: 11px;
    font-weight: 700;
    animation: readingModalIn 0.3s;
}
#siac-page-sidebar {
    width: 230px;
    border: 3px outset #9dab86;
    padding: 10px;
    margin-left: 10px;
    flex: 0 0 auto;
    display: none;
    flex-direction: column;
    text-align: center;
}
#siac-page-btns {
    user-select:none; 
    display: inline-block; 
    position:relative; 
    z-index: 2; 
    padding: 0 5px 0 5px;
}
#siac-pdf-wrapper {
    overflow: hidden; 
    flex: 1 1 auto; 
    height: 100%; 
    position: relative;
}
#siac-pdf-overflow {
    overflow: auto; 
    height: 100%; 
    width: 100%; 
    position: relative;
}
#siac-pdf-mark-btn {
    padding: 4px 3px 5px 4px;
    z-index: 3;
    border: 2px outset #2496dc;
    border-radius: 3px;
    margin-right: 14px;
    display: inline-block;
    max-width: 30px;
    transition: all 0.4s;
    overflow: hidden;
    white-space: nowrap;
}
#siac-pdf-mark-btn:hover {
    border-color: #67c3fc;
}
#siac-pdf-mark-btn:hover img {
    filter: brightness(1.4);
}
#siac-pdf-mark-btn > div {
    display: none;
}
#siac-pdf-mark-btn.expanded > div{
    display: inline-block;
}
#siac-pdf-mark-btn.expanded {
    max-width: 400px;
}
#siac-pdf-mark-btn.expanded img {
    float: left;
    margin-top: 2px !important;
}
.siac-mark-btn-inner {
    display: inline-block;
    border: 2px outset grey;
    border-radius: 3px;
    margin-left: 5px;
    font-size: 11px !important;
    padding: 1px 4px 1px 4px;
    cursor: pointer;
}
.siac-mark-btn-inner.active {
    border-color: #2496dc;
}
.siac-mark-btn-inner:hover {
    border-color: #43b7ff;
}
.siac-pdf-mark-lbl {
    font-weight: bold;
    animation: readingModalIn 0.3s;
}
.siac-pdf-mark-lbl,#siac-iframe-btn {
    display: inline-block;
    margin-right: 10px;
    font-size: 13px;
    border: 2px outset #2496dc;
    border-radius: 4px;
    padding: 4px 6px 4px 6px;
    background: var(--c-reading-modal-background);
    color: lightgrey;
    z-index: 11;
    user-select: none;
}
.siac-pdf-mark-lbl > b:hover {
    color: #9dab86;
    cursor: pointer;
}
#siac-pdf-overlay-top {
    position: absolute;
    top: 4px;
    left: 0px;
    width: 100%;
    z-index: 4;
}
#siac-pdf-top {
    width: 100%; 
    flex: 1 1 auto;
    position:relative; 
    height: calc(100% - 90px); 
    /* overflow-y: auto;  */
    overflow: hidden;
    text-align: center;
    margin-top: 23px;
    display: flex;
}
#siac-pdf-top.siac-pdf-rose #text-layer {
    background-color: red;
    opacity: 0.2;
}

#siac-pdf-top.extract #text-layer {
    background-color: #2496dc !important;
    opacity: 0.7 !important;
    mix-blend-mode: normal !important;
}
#siac-pdf-top.siac-pdf-x2 .siac-hl-c, #siac-pdf-top.siac-pdf-x1 .siac-hl-c {
    mix-blend-mode: difference;
}
#siac-pdf-top.siac-pdf-night .siac-hl-c, #siac-pdf-top.siac-pdf-mud .siac-hl-c {
    mix-blend-mode: color;
}
body.siac-pdf-hl-alt-render .siac-hl-c {
    mix-blend-mode: normal !important;
    opacity: 0.5;
    /* filter: opacity(0.4) contrast(200%); */
}
.siac-extract-marker {
    display: inline-block;
    border: 2px outset #2496dc;
    border-radius: 3px;
    padding: 4px 3px 5px 4px;
    background-color: var(--c-reading-modal-background);
    color: beige;
    vertical-align: top;
    margin-right: 15px;
}
#siac-text-top-wr {
    flex: 1 1 auto;
    margin-top: 20px;
    display: flex;
    /* flex-direction: column; */
    overflow: hidden;
}
#siac-text-top {
    text-align: left;
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    overflow: hidden;
}   
.CodeMirror {
    background-color: #1e211f;
    color: whitesmoke;
    flex: 1;
}

#siac-iframe {
    width: calc(100% - 10px);
    flex: 1 1 auto;
    display: none;
    background: white;
    margin-top: 20px;
    margin-left: 10px;
}
#siac-iframe-btn {
    position: absolute;
    /* left: 0px;
    top: 50px; */
    top: 10px; left: 0px;
}
#siac-schedule-dialog-btn.active > .fa {
    filter: brightness(1.4);
}
#siac-close-iframe-btn {
    z-index: 7;
    position: absolute;
    right: 0px;
    top: 5px;
    display: none;
    font-size: 13px;
    border: 2px outset #2496dc;
    border-radius: 4px;
    padding: 4px 6px 4px 6px;
    background: var(--c-reading-modal-background);
    color: white;
    user-select: none;
}
#siac-close-iframe-btn:hover {
    border-color: #67c3fc;
}
#siac-iframe-btn:hover,#siac-toc-btn:hover {
    border-color: #67c3fc !important;
}
#siac-iframe-btn > div {
    display: none;
}
#siac-iframe-btn.expanded > div {
    display: inline-block;
}
#siac-quick-sched-btn, #siac-mark-jump-btn, #siac-pdf-search-btn {
    position: absolute;
    z-index: 4;
    left: 0;
}
#siac-quick-sched-btn {
    bottom: 43px;
    padding: 2px 3px 2px 3px;
}
#siac-mark-jump-btn {
    bottom: 76px;
    padding: 4px 3px 4px 3px;
}
#siac-pdf-search-btn {
    bottom: 111px;
    padding: 4px 3px 4px 3px;
}
#siac-quick-sched-btn > .expanded-hidden, #siac-mark-jump-btn > .expanded-hidden, #siac-pdf-search-btn > .expanded-hidden {
    display: none;
    vertical-align: middle;
}
#siac-quick-sched-btn .fa {
    margin: 3px 2px 3px 2px;
}
#siac-quick-sched-btn.expanded .fa {
    vertical-align: middle;
}
#siac-quick-sched-btn.expanded > .expanded-hidden, #siac-mark-jump-btn.expanded > .expanded-hidden, #siac-pdf-search-btn.expanded > .expanded-hidden {
    display: inline-block;
}
#siac-mark-jump-btn:hover img, #siac-pdf-search-btn:hover img {
    filter: brightness(1.4);
}
#siac-mark-jump-btn.expanded img, #siac-pdf-search-btn.expanded img {
    float: left;
    margin-top: 2px;
}
#siac-pdf-search-btn.expanded img { 
    margin-top: 5px;
}
#siac-pdf-search-btn-inner {
    margin: 0 2px 0 5px; 
    color: lightgrey; 
    text-align: center;
}
#siac-pdf-search-btn-inner input:focus {
    outline-width: 0;
}
#siac-iframe-btn input {
    width: 100%;
    background: var(--c-reading-modal-background);
    color: white;
    border-color: white;
    border-radius: 3px;
    padding-left: 4px;
    vertical-align: top;
    box-sizing: border-box;
}
#siac-iframe-btn input:focus {
    outline: none;
}
#siac-iframe-btn.expanded {
    max-width: 400px;
}
#siac-iframe-btn label:hover {
    color: #9dab86;
    cursor: pointer;
}
.siac-url-ch {
   color: #9dab86; 
   margin-bottom: 4px;
   white-space: nowrap;
}
.siac-url-ch:hover {
    filter: brightness(1.4);
}
#siac-pdf-tooltip {
	position: absolute;
	display: none;
	z-index: 999;
    background-color: var(--c-reading-modal-background);
	color: white;
    padding: 9px;
	border-radius: 5px;
    border: 4px outset #9dab86;
    transition: all 0.5s;
}

#siac-pdf-read-btn,#siac-pdf-more-btn {
    border-radius: 4px;
    border: 2px outset #43a047;
    padding: 1px 5px 1px 5px;
    background-color: var(--c-reading-modal-background);
    color: beige;
}
#siac-pdf-read-btn {
    font-weight: 700;
    box-shadow: 2px 2px #1f1f1f;
}
#siac-pdf-read-btn:hover,#siac-pdf-more-btn:hover {
    color: white;
    border: 2px outset #69B36C;
    background-color: #2f3030;
}
#siac-pdf-tooltip-results-area {
	overflow-y: auto;
    overflow-x: hidden;
    width: calc(100% - 18px);
	padding-right: 8px;
    padding-left: 3px;
}
#siac-pdf-tooltip-bottom {
    text-align: center;
}
#siac-tooltip-center {
    position: absolute;
    top: 7px;
    left: 7px;
    cursor: pointer;
    display: inline-block;
    color: #9dab86;
    border: 3px solid #9dab86;
    border-radius: 2px;
    width: 9px;
    height: 9px;
}
#siac-pdf-tooltip-top {
    text-align: center;
}
#siac-tooltip-center:hover {
    filter: brightness(1.4);
}
#siac-pdf-tooltip-searchbar {
    width: calc(100% - 14px);
    margin-top: 15px;
    margin-bottom: 5px;
    border-radius: 4px;
    background-color: var(--c-reading-modal-background);
    color: white;
    border-color: white;
    padding-left: 4px;
}
#siac-pdf-tooltip-searchbar:focus {
    outline: none;
}
#siac-pdf-page-inp {
    background: var(--c-reading-modal-background);
    color: beige;
    border: 2px inset #b2b2a0;
    border-radius: 3px;
    height: 20px;
}
#siac-pdf-page-lbl {
    display: inline-block; 
    text-align: center; 
    width: 78px; 
    user-select: none;
}
#siac-reading-modal-bottom-bar {
    width: 100%; 
    flex: 0 0 auto; 
    position: relative; 
    border-top: 2px solid #9dab86; 
    margin-top: 5px; 
    padding: 2px 0 0 5px; 
    overflow: hidden; 
    user-select: none;
    transition: max-height 0.3s ease-in-out;
    max-height: 600px;
}
#siac-reading-modal-bottom-bar.bottom-hidden {
    max-height: 0;
    border-top: 0;
    visibility: hidden;
}
#siac-pdf-bottom-tab {
    display: inline-block;
    overflow: hidden;
    overflow-y: auto;
    vertical-align: top;
    margin-top: 4px;
    padding: 0 5px 0 0;
    box-sizing: border-box;
    white-space: normal;
    line-height: 1.2em;
    min-width: 220px;
    max-width: 380px;
    min-height: 70px;
    max-height: 89px;
}
.siac-reading-modal-button-bar-wrapper {
    flex: 0 0 30px; 
    width: 100%; 
    text-align: center; 
    margin-top: 15px; 
    position: relative; 
}
.siac-reading-modal-button-bar-wrapper.small .siac-hide-on-small {
    display: none;
}
.siac-reading-modal-button-bar-wrapper.smaller .siac-hide-on-smaller, .siac-reading-modal-button-bar-wrapper.smaller .siac-hide-on-small {
    display: none;
}
.siac-reading-modal-button-bar-wrapper:not(.sidebar).smaller #siac-pdf-color-mode-btn {
    display: none;
}
.siac-reading-modal-button-bar-wrapper:not(.sidebar).small #siac-pdf-read-btn b {
    display: none;
}
.siac-reading-modal-button-bar-wrapper:not(.sidebar).small #siac-pdf-read-btn {
    width: auto !important;
    padding-left: 7px;
    padding-right: 7px;
}
#siac-marks-display {
    vertical-align: top;
    height: 100%;
}
.siac-queue-btn {
    display: inline-block;
    border: 2px outset #9c9c9c;
    background: var(--c-reading-modal-background);
    padding: 1px 5px 1px 5px;
    font-size: 10px;
    border-radius: 3px;
    font-weight: bold;
    margin-bottom: 3px;
    box-shadow: 3px 3px #1f1f1f;
}
.siac-queue-btn.siac-disabled {
    color: grey !important;
}
.siac-related-notes-item {
    color: grey;
    cursor: pointer;
}
.siac-related-notes-item:hover {
    color: lightgrey;
}
#siac-marks-display::-webkit-scrollbar {
    display: none;
}
#siac-marks-display td:nth-child(2) {
    word-wrap: break-word; 
    white-space: normal;
    padding-left: 5px;
}
.siac-page-mark-link {
    display: inline-block;
    cursor: pointer;
    color: #9dab86;
    font-weight: bold;
}
.siac-page-mark-link:hover {
    filter: brightness(1.4);
}
.siac-field-picker-opt {
    display: inline-block;
    font-size: 15px;
    line-height: 18px;;
    color: #9dab86;
    cursor: pointer;
    user-select: none;
}
.siac-field-picker-opt:hover {
    filter: brightness(1.4);
    transform: scale(1.04);
}
#siac-reading-modal-top-btns {
    position: absolute;
    top: 7px; right: 10px;
    text-align: center;
    vertical-align: middle;
    z-index: 14;
}
#siac-reading-modal-top-btns.top-hidden #siac-reading-modal-tomato-alt {
    display: inline-block;
}
#siac-reading-modal-top-btns .siac-btn:hover {
    color: white;
}
#siac-reading-modal-top-btns .siac-btn {
    line-height: 13px;
}
#siac-reading-modal-top-btns span {
    height: 11px; 
    width: 4px;
    margin: 0;
    vertical-align: middle;
    display: inline-block;
}
#siac-reading-modal-change-theme {
    position: absolute;
    right: 0;
    bottom: 4px;
    cursor: pointer;    
    user-select: none;
}
#siac-reading-modal-change-theme > a {
    color:lightgrey !important;
}
#siac-queue-actions {
    display: inline-block; 
    vertical-align: top; 
    user-select: none; 
    z-index: 1;
    min-width: 130px;
}

.siac-queue-picker-icn:not(.siac-disabled):hover {
    transform: scale(1.4);
    filter: brightness(140%);
}
#siac-queue-sched-wrapper {
    padding: 5px 0 0 0;
    max-width: 0px;
    overflow: hidden;
    display: inline-block;
    transition: max-width 0.6s;
    transform: translateZ(0);
}
.siac-queue-sched-btn, .siac-queue-sched-btn-hor {
    display: inline-block;
    font-size: 13px;
    padding: 2px;
    border: 2px solid #2496dc;;
    color: lightblue;
    user-select: none;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
}
.siac-queue-sched-btn {
    writing-mode: vertical-lr;
    height: 90px;
}
.siac-queue-sched-btn.siac-prio-5 {
    height: 80px;
}
.siac-queue-sched-btn.siac-prio-4 {
    height: 70px;
}
.siac-queue-sched-btn.siac-prio-3 {
    height: 60px;
}
.siac-queue-sched-btn.siac-prio-2 {
    height: 50px;
}
.siac-queue-sched-btn.siac-prio-1 {
    height: 40px;
}
.siac-queue-sched-btn-hor {
    vertical-align: top;
    margin: 40px 5px 0px 5px;
}
.siac-queue-sched-btn:hover, .siac-queue-sched-btn-hor:hover {
    color: white;
    border-color: white;
    transform: scale(1.04);
}
.siac-queue-sched-btn.active, .siac-queue-sched-btn-hor.active {
    color: white;
    border-color: #9dab86;
}
.siac-queue-sched-btn.active:hover, .siac-queue-sched-btn-hor.active:hover {
   filter: brightness(140%);
}

.siac-queue-sched-hor-sep {
    display: inline-block;
    height: 50px;
    width: 20px;
    margin: 0 10px 0 10px;
    border-top: 2px solid lightgrey;
    border-style: dotted;
    border-width: 2px 0 0 0;
}
.siac-link-btn {
    cursor: pointer;
    background-color: inherit !important;
    display: inline-block;
    border: 1px solid transparent;
}
.siac-link-btn.siac-disabled,.siac-queue-picker-icn.siac-disabled,.siac-page-mark-link.siac-disabled,.siac-queue-sched-btn.siac-disabled {
    color: grey !important;
    pointer-events: none;
}
.siac-disabled .siac-link-btn {
    color: grey !important;
}
.siac-sched-icn.siac-disabled {
    opacity: 0.3;
}
.siac-sched-icn line, .siac-sched-icn ellipse {
    stroke: #9dab86 !important;
}
.siac-sched-icn.grey line, .siac-sched-icn.grey ellipse {
    stroke: lightgrey !important;
}
.siac-queue-sched-btn.siac-disabled {
    border-color: grey !important;
}
.siac-link-btn:not(.siac-disabled):hover,.siac-icn-hover:not(.siac-disabled):hover {
    transform: scale(1.02);
    filter: brightness(140%);
}
#siac-queue-infobox-wrapper {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-left: 14px;
}
#siac-queue-infobox {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 300px;
    height: 106px;
    border: 3px outset #9dab86;
}
#siac-queue-infobox:after {
    content: " ";
    position: absolute;
    right: 100%;
    top: var(--ttop);
    margin-top: -11px;
    border-width: 11px;
    border-style: solid;
    border-color: transparent #9dab86 transparent transparent;
    transition: all ease 0.2s;
}
.siac-pa-sq {
    display: inline-block;
    background-color: #67c3fc;
    border-radius: 3px;
    border: 3px double #186a9c; 
    background: radial-gradient(#89edff, #1773ac);
    color: black;
    font-weight: bold;
    min-width: 9px;
    padding: 0 2px 0 2px;
    margin: 0 2px 0 2px;
    cursor: pointer;
    user-select: none;
}
.siac-pa-sq.empty {
    border: 3px double #494949;
    background: radial-gradient(#adadad, #818181);
    color: #484848;
}
.siac-pa-sq.current {
    font-size: 1.4em;
}
.siac-pa-sq.empty.current {
    border: 3px solid #2496dc;
}
#siac-reading-modal-tomato-alt {
    display: none;
    width: auto !important;
    height: auto !important;
    margin-right: 60px;
    vertical-align: top;
}
#siac-reading-modal-tomato-alt > span {
    width: auto; 
    height: auto;
}
#siac-reading-modal-tomato-alt .siac-btn {
    color: #a2a2a2 !important;
    border-color: #ababab !important;
}
#siac-reading-modal-tomato-alt .siac-timer-btn.active {
    color: lightgrey !important;
}
#siac-reading-modal-tomato-alt .siac-timer-btn:hover {
    color: white !important;
    transform: none !important;
}
#siac-reading-modal-tomato-alt .siac-reading-modal-timer-lbl {
    font-size: 20px;
    vertical-align: top;
    line-height: 1em;
    min-width: 65px;
    color: lightgrey;
}
#siac-reading-modal-timer {
    font-size: 30px;
    user-select: none;
    font-weight: bold;
    line-height: 1em;
}
.siac-timer-btn-alt {
    cursor: pointer;
    margin-right: 5px;
    font-size: 11px;
    line-height: 1em;
    display: inline-block;
}
.siac-timer-btn {
    cursor: pointer;
    margin-right: 5px;
    font-size: 11px;
    line-height: 1em;
    display: inline-block;
}
.siac-timer-btn:hover {
    transform: scale(1.2);
    user-select: none;
}
.siac-timer-btn.active {
    color: #9dab86;
    font-weight: bold;
}
.siac-timer-play-btn {
    font-size: 17px;
    line-height: 22px;
    cursor: pointer;
    user-select: none;
    display: inline-block;
}
.siac-timer-play-btn:hover {
    transform: scale(1.05);
}
#siac-reading-modal-tomato-alt .siac-timer-play-btn:hover {
    color: white !important;
    transform: none;
}
#siac-reading-modal-center img {
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
}
#siac-timer-popup {
    z-index: 9999999;
    background: var(--c-reading-modal-background);
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    width: 300px;
    border: 4px outset #9dab86;
    border-radius: 5px;
    display: none;
}
#siac-reading-modal-center *::-webkit-scrollbar:horizontal {
    height: 10px !important;
}
#siac-reading-modal-center *::-webkit-scrollbar, #siac-pdf-bottom-tab::-webkit-scrollbar,#siac-pdf-tooltip-results-area::-webkit-scrollbar, body.nightMode *::-webkit-scrollbar {
    width: 10px !important;
    background: #313d45 !important;
    border-radius: 4px !important;
}
 #siac-reading-modal-center *::-webkit-scrollbar-thumb, body.nightMode *::-webkit-scrollbar-thumb,#siac-pdf-tooltip-results-area::-webkit-scrollbar-thumb, #siac-pdf-bottom-tab::-webkit-scrollbar-thumb {
    background: #515d71 !important;
    border-radius: 4px !important;
} 

.siac-rev-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0; 
    left: 0;
    background-color: rgba(0,0,0,0.8);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 13;
}
.siac-pdf-loader {
    width: 250px; 
    padding: 15px; 
    position: relative; 
    text-align: center;
    border: 3px outset #9dab86;
    background: var(--c-reading-modal-background);
    color: white;
}
#siac-pdf-loader-wrapper {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100%; 
    z-index: 7;
}
#siac-pdf-loader-text {
    font-weight: bold;
    color: lightgrey;
}
#siac-text-top-wr > div:first-child {
    flex: 1 1 auto;
}

.siac-note-title-only {
    font-weight: bold;
    overflow: ellipsis;
    user-select: none;
    cursor: pointer;
    color: #353535;
}
body.night_mode .siac-note-title-only {
    color: lightgrey;
}
.siac-note-title-only:hover {
    color: #2496dc;
}
body.nightMode .siac-note-title-only:hover {
    color: lightgrey;
    filter: brightness(1.4);
}
#siac-reading-modal-tabs-left {
    font-family: 'Open Sans', sans-serif;
    margin: 10px 5px 0 5px;
    padding: 10px 15px 5px 0;
    border-top: 2px solid;
    margin-top: 10px;
    border-top: 2px solid #9dab86;
}
#siac-reading-modal-tabs-left .siac-btn {
    color: #b2b2a0;
    border-color: #b2b2a0;
    margin-left: 4px;
}
#siac-reading-modal-tabs-left .siac-btn.active {
    color: #61c3ff !important;
    border-color: #2496dc !important;
}
.siac-pdf-main-color-border-bottom {
    border-bottom: 2px solid #9dab86;
}
.siac-pdf-main-color-border-top {
    border-top: 2px solid #9dab86;
}
.siac-pdf-main-color-border-left {
    border-left: 2px solid #9dab86;
}
.siac-pdf-main-color-border {
    border: 3px outset #9dab86;
    border-radius: 3px;
}
#siac-left-tab-browse,#siac-left-tab-pdfs {
    font-family: 'Open Sans', sans-serif;
    flex: 1 1 auto;
    width: 100%;
    box-sizing: border-box;
    padding: 0 10px 0 10px;
    overflow: hidden;
}
#siac-left-tab-browse input,#siac-left-tab-pdfs input {
    border-radius: 4px;
    padding-left: 3px;
}       
body.nightMode #siac-left-tab-browse input, body.nightMode #siac-left-tab-pdfs input {
    background: #333333;
    color: lightgrey;
}
.siac-pdf-color-btn {
    height: 20px; 
    width: 20px; 
    border-radius: 4px;
    margin-bottom: 4px;
    border: 2px solid transparent;
    cursor: pointer;
    box-shadow: 3px 3px #151515;
    /* border: 2px outset #656565; */
}
.siac-pdf-color-btn.active,.siac-pdf-ul-btn.active {
    border-color: white !important;
}
.siac-hl {
    position: absolute;
    mix-blend-mode: multiply;
    z-index: 2;
    border-radius: 7px;
    user-select: none;
}
.siac-text-hl {
    /* mix-blend-mode: normal !important; */
    z-index: 3;
    border: 3px outset #2496dc;
    font-family: 'Open Sans', sans-serif;
    white-space: pre-wrap;
    outline: none;
    color: white;
    background: green !important;
    mix-blend-mode: luminosity;
    border-radius: 5px;
}
/* 17.10.2020: For some reason, the play button in the youtube player has a really large height, this is a fix. */
.ytp-play-button {
    max-height: 36px !important;
}
#siac-reading-modal-center.siac-page-sidebar #siac-page-btns {
    margin-right: 235px;
}
#siac-reading-modal-center.siac-page-sidebar #siac-pdf-overlay {
    right: 230px;
}
#siac-reading-modal-center.siac-page-sidebar #siac-page-sidebar {
    display: flex;
}
.siac-pdf-ul-btn {
    height: 8px; 
    width: 20px; 
    border: 2px solid transparent;
    margin-bottom: 4px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 3px 3px #151515;
    /* border: 2px outset #656565; */
}
#siac-reading-modal-top-btns > div {
    height: 24px;
    width: 24px;
    box-sizing: border-box;
    background-size: 17px 17px;
    padding: 0 !important;
    background-repeat: no-repeat;
    background-position: center;
}
#siac-reading-modal-top-bar {
    /* min-height: 77px;  */
    width: 100%; 
    flex: 0 0 77px; 
    display: flex; 
    flex-wrap: nowrap; 
    border-bottom: 2px solid #9dab86; 
    margin-bottom: 5px; 
    white-space: nowrap;
    position: relative;
    max-height: 600px;
    transition: max-height 0.3s ease-in-out;
}
#siac-reading-modal-top-bar.top-hidden {
    max-height: 0;
    border-bottom: 0;
    min-height: 0;
    visibility: hidden;
}
#siac-rm-greyout {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.4;
    background-color: black;
    z-index: 12;
}
.siac-bb-btn {
    border: 2px outset #9dab86;
    border-radius: 4px;
    margin: 4px 3px 3px 3px;
    text-align: center;
    font-size: 14px;
    line-height: 1em;
    padding: 2px 5px 2px 5px;
    font-variant: small-caps;
    font-weight: 600;
    cursor: pointer;
    color: lightgrey;
    box-shadow: 2px 2px #151515;
}
.siac-bb-btn:not(.siac-disabled):hover {
    filter: brightness(1.4);
}
.siac-bb-btn.siac-disabled {
    color: grey !important;
}
.siac-prio-lbl {
    color: white;
    padding: 1px 3px 1px 3px;
    border-radius: 3px;
    font-size: 10px;
    font-weight: normal;
    display: inline-block;
    text-align: center;
    min-width: 14px;
}
.siac-prio-lbl.siac-disabled {
    opacity: 0.6;
}
#siac-queue-readings-list {
    display: inline-block; 
    vertical-align: top; 
    margin-left: 20px; 
    min-width: 340px; 
    user-select: none;
}
label input:checked ~ span {
    font-weight: bold;
}
body.siac-left-right-switched #siac-right-side {
    border-right: 2px solid #9dab86;
}
body.siac-reading-modal-displayed.siac-left-right-switched #siac-right-side {
    border-right: none;
}
body.nightMode.siac-reading-modal-displayed.siac-left-right-switched #siac-right-side {
    border-right: 2px solid #9dab86;
}
#siac-right-side {
    border-left: 2px solid #9dab86;
}

.annotationLayer {
  display: none;
}
.annotationLayer > a {
    display: block;
    position: absolute;
}
.annotationLayer > a:hover {
    opacity: 0.2;
    background: #ff0;
    box-shadow: 0px 2px 10px #ff0;
}
#siac-pdf-links-toggle.active {
    color: #2496dc;
}
.ytp-play-button svg {
    max-height: 36px !important;
}
body:not(.nightMode) #siac-reading-modal-tabs-left .siac-btn {
    box-shadow: none;
}

body:not(.nightMode) #siac-reading-modal-tabs-left .siac-btn.active {
    color: #0a4367 !important;
}