body.siac-reading-modal-displayed #siac-right-side {
    border-left: 0px solid darkorange;
}
body.nightMode.siac-reading-modal-displayed #siac-right-side {
    border-left: 2px solid darkorange;
}
#siac-reading-modal {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #2f2f31;
    color: white;
    padding: 12px;
    padding-bottom: 6px;
    font-size: 12px;
    z-index: 2;
    border-radius: 5px;
    overflow: hidden;
}
body.nightMode #siac-reading-modal.rendering {
    border: 2px solid darkorange;
}

#siac-reading-modal a:not(.siac-disabled) {
    color: darkorange !important;
}
#siac-reading-modal a.greyedout, #siac-reading-modal a.active {
    color: lightgray !important;
}
.siac-clickable-anchor.tab.active {
    text-decoration: underline;
}
.siac-pdf-main-color {
    color: darkorange;
}
.siac-rm-main-color-hover:hover {
    color: darkorange;
    cursor: pointer;
}
.siac-modal-small.dark, #siac-reading-modal .siac-modal-small, .siac-pdf-contextmenu {
    border: 3px outset darkorange;
    background: #2f2f31;
    color: white;
}
.siac-pdf-contextmenu {
    border-radius: 3px;
    padding: 5px;
}

#siac-cloze-btn {
    margin-bottom: 7px;
    text-align: center;
    color:darkorange;
    cursor:pointer;
    user-select: none;
}
#siac-cloze-btn:hover {
    transform: scale(1.03);
    filter: brightness(1.4);
}
.siac-btn-small-dropdown-inverted {
    display: none;
    position: absolute;
    color: white;
    background-color: #2f2f31;
    width: 200px;
    padding: 0px 4px 0px 4px;
    height: 185px; 
    top: -164px;
    left: -181px;
    border: 2px outset darkorange; 
    z-index: 5;
    transition: all 0.3s;
}
.siac-dropdown-inverted-item {
    margin: 3px 0 2px 0;
    text-align: left;
    width: 100%;
    color: darkorange;
    text-align: center;
    height: 16px;
    font-size: 13px !important;
}
.siac-dropdown-inverted-item:hover {
    filter: brightness(1.4);
}
#siac-tt-web-btn {
    color:darkorange;
    cursor:pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    height: 20px;
    width: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
}
#siac-tt-web-btn:hover {
    transform: scale(1.03);
    filter: brightness(1.4);
}
#siac-pdf-br-notify {
    display: none; 
    position: absolute; 
    z-index: 4; 
    bottom: 50px; 
    right: 45px; 
    border: 3px outset darkorange; 
    border-radius: 3px; 
    color: lightgrey; 
    background: #2f2f31; 
    padding: 15px;
}
#siac-pdf-overlay {
    display: none;
    position: absolute;
    bottom: 35px;
    right: 0; left: 0;
    z-index: 4;
    user-select: none;
    background-color: #43a047;
    border-radius: 7px;
    border: 4px outset green;
    padding: 2px 4px 4px 4px;
    width: 200px;
    text-align: center;
    color: white;
    margin-left: auto;
    margin-right: auto;
}
#siac-pdf-mark-btn {
    padding: 4px 3px 5px 4px;
    z-index: 3;
    border: 3px outset #2496dc;
    border-radius: 3px;
    margin-right: 14px;
    display: inline-block;
    max-width: 30px;
    transition: all 0.4s;
    overflow: hidden;
    white-space: nowrap;
}
#siac-pdf-mark-btn:hover {
    border-color: #67c3fc;
}
#siac-pdf-mark-btn:hover img {
    filter: brightness(1.4);
}
#siac-pdf-mark-btn > div {
    display: none;
}
#siac-pdf-mark-btn.expanded > div{
    display: inline-block;
}
#siac-pdf-mark-btn.expanded {
    max-width: 400px;
}
#siac-pdf-mark-btn.expanded img {
    float: left;
    margin-top: 2px !important;
}
.siac-mark-btn-inner {
    display: inline-block;
    border: 2px outset grey;
    border-radius: 3px;
    margin-left: 5px;
    font-size: 11px !important;
    padding: 1px 4px 1px 4px;
    cursor: pointer;
}
.siac-mark-btn-inner.active {
    border-color: #2496dc;
}
.siac-mark-btn-inner:hover {
    border-color: #43b7ff;
}
.siac-pdf-mark-lbl,#siac-iframe-btn {
    display: inline-block;
    margin-right: 10px;
    font-size: 13px;
    border: 3px outset #2496dc;
    border-radius: 4px;
    padding: 4px 6px 4px 6px;
    background: #2f2f31;
    color: white;
    z-index: 4;
    user-select: none;
}
.siac-pdf-mark-lbl > b:hover {
    color: darkorange;
    cursor: pointer;
}
#siac-pdf-overlay-top {
    position: absolute;
    top: 4px;
    left: 0px;
    width: 100%;
    z-index: 4;
}
#siac-pdf-top {
    width: 100%; 
    flex: 1 1 auto;
    position:relative; 
    height: calc(100% - 90px); 
    overflow-y: auto; 
    text-align: center;
    margin-top: 20px;
}
/* #siac-pdf-top.siac-pdf-night #text-layer {
    background-color: #2496dc;
    opacity: 0.8;
} */
#siac-pdf-top.siac-pdf-rose #text-layer {
    background-color: red;
    opacity: 0.2;
}
#siac-pdf-top.siac-pdf-moss #text-layer {
    background-color: green;
    opacity: 0.4;
}
#siac-pdf-top.siac-pdf-coral #text-layer {
    background-color: coral;
    opacity: 0.8;
}
#siac-pdf-top.extract #text-layer {
    background-color: #2496dc !important;
    opacity: 0.7 !important;
    mix-blend-mode: normal !important;
}
.siac-extract-marker {
    display: inline-block;
    border: 3px outset #2496dc;
    border-radius: 3px;
    padding: 4px 3px 5px 4px;
    background-color: #2f2f31;
    color: beige;
    vertical-align: top;
    margin-right: 15px;
}
#siac-text-top-wr {
    flex: 1 1 auto;
    margin-top: 20px;
}
#siac-text-top {
    text-align: left;
    padding: 10px;

}
#siac-iframe {
    width: 100%;
    flex: 1 1 auto;
    display: none;
}
#siac-iframe-btn {
    position: absolute;
    left: 0px;
    top: 50px;
}
#siac-schedule-dialog-btn {
    margin-left: 8px;
}
#siac-schedule-dialog-btn > svg {
    vertical-align: middle;
    margin-bottom: 2px;
}
#siac-schedule-dialog-btn.active > svg {
    filter: brightness(1.4);
}
#siac-close-iframe-btn {
    z-index: 7;
    position: absolute;
    right: 0px;
    top: 5px;
    display: none;
    font-size: 13px;
    border: 3px outset #2496dc;
    border-radius: 4px;
    padding: 4px 6px 4px 6px;
    background: #2f2f31;
    color: white;
    user-select: none;
}
#siac-close-iframe-btn:hover {
    border-color: #67c3fc;
}
#siac-iframe-btn:hover {
    border-color: #67c3fc;
}
#siac-iframe-btn > div {
    display: none;
}
#siac-iframe-btn.expanded > div {
    display: inline-block;
}
#siac-quick-sched-btn, #siac-mark-jump-btn, #siac-pdf-search-btn {
    position: absolute;
    z-index: 4;
    left: 0;
}
#siac-quick-sched-btn {
    bottom: 43px;
    padding: 2px 3px 2px 3px;
}
#siac-mark-jump-btn {
    bottom: 76px;
    padding: 4px 3px 4px 3px;
}
#siac-pdf-search-btn {
    bottom: 111px;
    padding: 4px 3px 4px 3px;
}
#siac-quick-sched-btn > .expanded-hidden, #siac-mark-jump-btn > .expanded-hidden, #siac-pdf-search-btn > .expanded-hidden {
    display: none;
    vertical-align: middle;
}
#siac-quick-sched-btn .siac-read-icn {
    margin: 0;
    vertical-align: middle;
}
#siac-quick-sched-btn.expanded > .expanded-hidden, #siac-mark-jump-btn.expanded > .expanded-hidden, #siac-pdf-search-btn.expanded > .expanded-hidden {
    display: inline-block;
}
#siac-mark-jump-btn:hover img, #siac-pdf-search-btn:hover img {
    filter: brightness(1.4);
}
#siac-mark-jump-btn.expanded img, #siac-pdf-search-btn.expanded img {
    float: left;
    margin-top: 2px;
}
#siac-pdf-search-btn.expanded img { 
    margin-top: 5px;
}
#siac-pdf-search-btn-inner input:focus {
    outline-width: 0;
}
#siac-iframe-btn input {
    width: 100%;
    background: #2f2f31;
    color: white;
    border-color: white;
    border-radius: 3px;
    padding-left: 4px;
    vertical-align: top;
    box-sizing: border-box;
}
#siac-iframe-btn input:focus {
    outline: none;
}
#siac-iframe-btn.expanded {
    max-width: 400px;
}
#siac-iframe-btn label:hover {
    color: darkorange;
    cursor: pointer;
}
.siac-url-ch {
   color: orange; 
   margin-bottom: 4px;
}
.siac-url-ch:hover {
    filter: brightness(1.4);
}
#siac-pdf-tooltip {
	position: absolute;
	display: none;
	z-index: 999;
    background-color: #2f2f31;
	color: white;
    padding: 9px;
	border-radius: 5px;
    border: 4px outset darkorange;
    transition: all 0.5s;
}

#siac-pdf-read-btn,#siac-pdf-more-btn {
    border-radius: 4px;
    border: 3px outset #43a047;
    padding: 1px 5px 1px 5px;
    background-color: #2f2f31;
    color: beige;
}
#siac-pdf-read-btn:hover,#siac-pdf-more-btn:hover {
    color: white;
    border: 3px outset #69B36C;
    background-color: #2f3030;
}
#siac-pdf-tooltip-results-area {
	overflow-y: auto;
    overflow-x: hidden;
    width: calc(100% - 18px);
	padding-right: 8px;
    padding-left: 3px;
}
#siac-pdf-tooltip-bottom {
    text-align: center;
}
#siac-tooltip-center {
    position: absolute;
    top: 7px;
    left: 7px;
    cursor: pointer;
    display: inline-block;
    color: darkorange;
    border: 3px solid darkorange;
    border-radius: 2px;
    width: 9px;
    height: 9px;
}
#siac-pdf-tooltip-top {
    text-align: center;
}
#siac-tooltip-center:hover {
    filter: brightness(1.4);
}
#siac-pdf-tooltip-searchbar {
    width: calc(100% - 14px);
    margin-top: 15px;
    margin-bottom: 5px;
    border-radius: 4px;
    background-color: #2f2f31;
    color: white;
    border-color: white;
    padding-left: 4px;
}
#siac-pdf-tooltip-searchbar:focus {
    outline: none;
}
#siac-pdf-page-inp {
    background: #2f2f31;
    color: beige;
}
#siac-reading-modal-bottom-bar {
    width: 100%; 
    flex: 0 0 auto; 
    position: relative; 
    border-top: 2px solid darkorange; 
    margin-top: 5px; 
    padding: 2px 0 0 5px; 
    overflow: hidden; 
    user-select: none;
}
#siac-pdf-bottom-tab {
    display: inline-block;
    max-height: 89px;
    overflow: hidden;
    overflow-y: auto;
    vertical-align: top;
    margin-top: 4px;
    padding: 0 5px 0 0;
    box-sizing: border-box;
}
.siac-reading-modal-button-bar-wrapper {
    flex: 0 0 30px; 
    width: 100%; 
    text-align: center; 
    margin-top: 15px; 
    position: relative; 
}
#siac-marks-display {
    vertical-align: top;
    height: 100%;
}
.siac-related-notes-item {
    color: grey;
    cursor: pointer;
}
.siac-related-notes-item:hover {
    color: lightgrey;
}
#siac-marks-display::-webkit-scrollbar {
    display: none;
}
#siac-marks-display td:nth-child(2) {
    word-wrap: break-word; 
    white-space: normal;
    padding-left: 5px;
}
.siac-page-mark-link {
    display: inline-block;
    cursor: pointer;
    color: darkorange;
    font-weight: bold;
}
.siac-page-mark-link:hover {
    filter: brightness(1.4);
}
.siac-field-picker-opt {
    display: inline-block;
    font-size: 15px;
    line-height: 18px;;
    color: darkorange;
    cursor: pointer;
    user-select: none;
}
.siac-field-picker-opt:hover {
    filter: brightness(1.4);
    transform: scale(1.04);
}
#siac-reading-modal-top-btns {
    position: absolute;
    top: 7px; right: 10px;
    text-align: center;
    vertical-align: middle;
    z-index: 6;
}
#siac-reading-modal-top-btns div:hover {
    color: white;
}
#siac-reading-modal-top-btns siac-btn {
    line-height: 13px;
}
#siac-reading-modal-top-btns span {
    border: 1px solid lightgrey; 
    height: 11px; 
    width: 4px;
    margin: 0;
    vertical-align: middle;
    display: inline-block;
}
#siac-reading-modal-top-btns div:hover span {
    border-color: white;
}
#siac-reading-modal-change-theme {
    position: absolute;
    right: 0;
    bottom: 4px;
    cursor: pointer;    
}
#siac-reading-modal-change-theme > a {
    color:lightgrey !important;
}
#siac-queue-actions {
    display: inline-block; 
    vertical-align: top; 
    margin-left: 20px; 
    margin-top: 3px; 
    user-select: none; 
    z-index: 1;
    min-width: 125px;
}
.siac-queue-picker-icn {
    margin-left: 25px; cursor: pointer; font-weight: bold; color: darkorange;
    display: inline-block;
}
.siac-queue-picker-icn:not(.siac-disabled):hover {
    transform: scale(1.4);
    filter: brightness(140%);
}
#siac-queue-sched-wrapper {
    padding: 5px 0 0 0;
    max-width: 0px;
    overflow: hidden;
    display: inline-block;
    transition: max-width 0.6s;
    transform: translateZ(0);
}
.siac-queue-sched-btn, .siac-queue-sched-btn-hor {
    display: inline-block;
    font-size: 13px;
    padding: 2px;
    border: 2px solid #2496dc;;
    color: lightblue;
    user-select: none;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
}
.siac-queue-sched-btn {
    writing-mode: vertical-lr;
    height: 90px;
}
.siac-queue-sched-btn.siac-prio-5 {
    height: 80px;
}
.siac-queue-sched-btn.siac-prio-4 {
    height: 70px;
}
.siac-queue-sched-btn.siac-prio-3 {
    height: 60px;
}
.siac-queue-sched-btn.siac-prio-2 {
    height: 50px;
}
.siac-queue-sched-btn.siac-prio-1 {
    height: 40px;
}
.siac-queue-sched-btn-hor {
    vertical-align: top;
    margin: 40px 5px 0px 5px;
}
.siac-queue-sched-btn:hover, .siac-queue-sched-btn-hor:hover {
    color: white;
    border-color: white;
    transform: scale(1.04);
}
.siac-queue-sched-btn.active, .siac-queue-sched-btn-hor.active {
    color: white;
    border-color: darkorange;
}
.siac-queue-sched-btn.active:hover, .siac-queue-sched-btn-hor.active:hover {
   filter: brightness(140%);
}

.siac-queue-sched-hor-sep {
    display: inline-block;
    height: 50px;
    width: 20px;
    margin: 0 10px 0 10px;
    border-top: 2px solid lightgrey;
    border-style: dotted;
    border-width: 2px 0 0 0;
}
.siac-clickable-anchor {
    cursor: pointer;
    background-color: inherit !important;
    display: inline-block;
    border: 1px solid transparent;
}
.siac-clickable-anchor.siac-disabled,.siac-queue-picker-icn.siac-disabled,.siac-page-mark-link.siac-disabled,.siac-queue-sched-btn.siac-disabled {
    color: grey !important;
}
.siac-sched-icn.siac-disabled {
    opacity: 0.3;
}
.siac-sched-icn line, .siac-sched-icn ellipse {
    stroke: darkorange !important;
}
.siac-sched-icn.grey line, .siac-sched-icn.grey ellipse {
    stroke: lightgrey !important;
}
.siac-queue-sched-btn.siac-disabled {
    border-color: grey !important;
}
.siac-clickable-anchor:not(.siac-disabled):hover {
    transform: scale(1.02);
    filter: brightness(140%);
}
#siac-queue-infobox-wrapper {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-left: 14px;
}
#siac-queue-infobox {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 300px;
    height: 106px;
    border: 3px outset darkorange;
}
#siac-queue-infobox:after {
    content: " ";
    position: absolute;
    right: 100%;
    top: var(--ttop);
    margin-top: -11px;
    border-width: 11px;
    border-style: solid;
    border-color: transparent darkorange transparent transparent;
    transition: all ease 0.2s;
}
#siac-reading-modal-timer {
    font-size: 30px;
    user-select: none;
    font-weight: bold;
    line-height: 1em;
}
.siac-timer-btn {
    cursor: pointer;
    margin-right: 5px;
    font-size: 11px;
    line-height: 1em;
    display: inline-block;
}
.siac-timer-btn:hover {
    transform: scale(1.2);
    user-select: none;
}
.siac-timer-btn.active {
    color: darkorange;
    font-weight: bold;
}
#siac-timer-play-btn {
    font-size: 19px;
    line-height: 19px;
    cursor: pointer;
    user-select: none;
    display: inline-block;
}
#siac-timer-play-btn:hover {
    transform: scale(1.05);
}
#siac-reading-modal-center img {
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
}
#siac-timer-popup {
    z-index: 9999999;
    background: #2f2f31;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    width: 300px;
    border: 4px outset darkorange;
    border-radius: 5px;
    display: none;
}
#siac-pdf-top::-webkit-scrollbar:horizontal {
    height: 10px !important;
}
#siac-pdf-top::-webkit-scrollbar, #siac-pdf-bottom-tab::-webkit-scrollbar,#siac-pdf-tooltip-results-area::-webkit-scrollbar, body.nightMode ::-webkit-scrollbar {
    width: 10px !important;
    background: #313d45 !important;
    border-radius: 4px !important;
}
 #siac-pdf-top::-webkit-scrollbar-thumb, body.nightMode ::-webkit-scrollbar-thumb,#siac-pdf-tooltip-results-area::-webkit-scrollbar-thumb, #siac-pdf-bottom-tab::-webkit-scrollbar-thumb {
    background: #515d71 !important;
    border-radius: 4px !important;
} 
.siac-pdf-loader {
    width: 250px; 
    padding: 15px; 
    position: relative; 
    text-align: center;
    border: 3px outset darkorange;
    background: #2f2f31;
    color: white;
}
.tox-tinymce-aux {
    z-index: 2147483638 !important;
}
.tox .tox-menu {
    z-index: 2147483638 !important;
}
#siac-text-top-wr > div {
    height: 100% !important;
}
.siac-pdf-mark-lbl {
    font-weight: bold;
}
.siac-note-title-only {
    font-weight: bold;
    overflow: ellipsis;
    user-select: none;
    cursor: pointer;
}
body.night_mode .siac-note-title-only {
    color: lightgrey;
}
.siac-note-title-only:hover {
    filter: brightness(1.4);
}
#siac-reading-modal-tabs-left {
    font-family: 'Open Sans', sans-serif;
    margin: 10px 5px 0 5px;
    padding: 10px 15px 5px 0;
    border-top: 2px solid;
    margin-top: 10px;
    border-top: 2px solid darkorange;
}
#siac-reading-modal-tabs-left .siac-btn {
    color: #b2b2a0;
    border-color: #b2b2a0;
    margin-left: 4px;
}
#siac-reading-modal-tabs-left .siac-btn.active {
    color: #61c3ff !important;
    border-color: #2496dc !important;
}
.siac-pdf-main-color-border-bottom {
    border-bottom: 2px solid darkorange;
}
.siac-pdf-main-color-border-top {
    border-top: 2px solid darkorange;
}
.siac-pdf-main-color-border {
    border: 3px outset darkorange;
    border-radius: 3px;
}
#siac-left-tab-browse,#siac-left-tab-pdfs {
    font-family: 'Open Sans', sans-serif;
    flex: 1 1 auto;
    width: 100%;
    box-sizing: border-box;
    padding: 0 10px 0 10px;
    overflow: hidden;
}
#siac-left-tab-browse input,#siac-left-tab-pdfs input {
    border-radius: 4px;
    padding-left: 3px;
}       
body.nightMode #siac-left-tab-browse input, body.nightMode #siac-left-tab-pdfs input {
    background: #333333;
    color: lightgrey;
}
.siac-pdf-color-btn {
    height: 18px; 
    width: 18px; 
    border-radius: 4px;
    margin-bottom: 4px;
    border: 2px solid transparent;
    cursor: pointer;
}
.siac-pdf-color-btn.active,.siac-pdf-ul-btn.active {
    border-color: white !important;
}
.siac-hl {
    position: absolute;
    mix-blend-mode: multiply !important;
    z-index: 2;
    border-radius: 7px;
}
.siac-text-hl {
    mix-blend-mode: normal !important;
    z-index: 3;
    border: 3px outset #2496dc;
    font-family: 'Open Sans', sans-serif;
    white-space: pre-wrap;
    outline: none;
}
#siac-pdf-top.siac-pdf-night .siac-text-hl {
    /* color: lightgrey; */
    background: beige !important;
    border-color: #44fdb0 !important;
}
.siac-pdf-ul-btn {
    height: 5px; 
    width: 18px; 
    border: 2px solid transparent;
    margin-bottom: 4px;
    border-radius: 4px;
    cursor: pointer;
}
#siac-reading-modal-top-btns > div {
    height: 24px;
    width: 24px;
    box-sizing: border-box;
    background-size: 17px 17px;
    padding: 0 !important;
    background-repeat: no-repeat;
    background-position: center;
}
#siac-reading-modal-top-bar {
    min-height: 77px; 
    width: 100%; 
    flex: 0 0 77px; 
    display: flex; 
    flex-wrap: nowrap; 
    border-bottom: 2px solid darkorange; 
    margin-bottom: 5px; 
    white-space: nowrap;
    position: relative;
}
#siac-rm-greyout {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.4;
    background-color: black;
    z-index: 5;
}
.siac-prio-slider, .siac-prio-slider-small {
    width: 190px;
    -webkit-appearance: none; 
    appearance: none;
    background: #d3d3d3; 
    outline: none;
    opacity: 0.7; 
    transition: opacity .2s;
    height: 10px;
    border-radius: 3px;
}
.siac-prio-slider-small {
    width: 150px;
    height: 8px;
}
.siac-prio-slider:hover, .siac-prio-slider-small:hover {
    opacity: 1;
  }
  .siac-prio-slider::-webkit-slider-thumb, .siac-prio-slider-small::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 20px;
    background: #2496dc;
    cursor: pointer;
    border-radius: 3px;
  }
  .siac-prio-slider::-webkit-slider-thumb:hover, .siac-prio-slider-small::-webkit-slider-thumb:hover {
      filter: brightness(1.4);
  }
label input:checked ~ span {
    font-weight: bold;
}
body.siac-left-right-switched #siac-right-side {
    border-right: 2px solid darkorange;
}
body.siac-reading-modal-displayed.siac-left-right-switched #siac-right-side {
    border-right: none;
}
body.nightMode.siac-reading-modal-displayed.siac-left-right-switched #siac-right-side {
    border-right: 2px solid darkorange;
}
#siac-right-side {
    border-left: 2px solid darkorange;
}